@font-face {
  font-family: "element-icons"; /* Project id 3926650 */
  src: url('iconfont.woff2?t=1689312031378') format('woff2'),
       url('iconfont.woff?t=1689312031378') format('woff'),
       url('iconfont.ttf?t=1689312031378') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-fangkebaobiao:before {
  content: "\e6a0";
}

.el-icon-baobiao:before {
  content: "\e60a";
}

.el-icon-kaoqinguanli:before {
  content: "\e60c";
}

.el-icon-menjinguanli:before {
  content: "\e661";
}

.el-icon-xungeng:before {
  content: "\e60d";
}

.el-icon-chedaozha:before {
  content: "\e60e";
}

.el-icon-chengyuanguanli:before {
  content: "\e601";
}

.el-icon-fangkeguanli:before {
  content: "\e602";
}

.el-icon-gaojingguanli:before {
  content: "\e603";
}

.el-icon-nenghao:before {
  content: "\e604";
}

.el-icon-nengyuannenghaoguanli:before {
  content: "\e605";
}

.el-icon-shebeiyongdianjiebo:before {
  content: "\e606";
}

.el-icon-yongqiliang:before {
  content: "\e607";
}

.el-icon-yongshui:before {
  content: "\e608";
}

.el-icon-zidianguanli:before {
  content: "\e609";
}

