<template>
  <div>
    <div
      class="fixd"
      :style="{ background: themeApi.theme.customTheme }"
      @click="openDrawer()"
    >
      <i class="el-icon-setting"></i>
    </div>
    <el-drawer v-model="drawer" size="20%" :with-header="false">
      <div class="content">
        <div class="avatar-center">
          <el-avatar
            shape="square"
            :size="80"
            :src="
              userInfo.gender === '0'
                ? require('@/assets/maleHead.jpeg')
                : require('@/assets/femaleImage.jpeg')
            "
          />
        </div>
        <div class="themeColor">
          <span class="theme-title">用户名</span>
          <div>
            {{ userInfo.name }}
          </div>
        </div>

        <div class="themeColor">
          <span class="theme-title">工号</span>
          <div>
            {{ userInfo.jobNum }}
          </div>
        </div>
        <div class="themeColor">
          <span class="theme-title">部门</span>
          <div>
            {{ userInfo.department }}
          </div>
        </div>
        <div class="themeColor">
          <span class="theme-title">手机号</span>
          <div>
            {{ userInfo.phone }}
          </div>
        </div>
        <div class="logout">
          <!-- <AddUserModal title='修改账号信息' /> -->
          <ModificationAccountPassword />
          <el-button size="mini" type="danger" @click="logout()"
            >退出登录</el-button
          >
        </div>
      </div>
    </el-drawer>
  </div>
</template>
<script>
import { ref, reactive } from "vue";
import { useRouter } from "vue-router";
import { useTheme } from "@/composition/useThemeApi";
import ModificationAccountPassword from "@/views/ModificationAccountPassword";
export default {
  setup() {
    let drawer = ref(false);
    const userInfo = ref(JSON.parse(localStorage.getItem("user") || null));
    const router = useRouter();
    const themeApi = useTheme();
    const themeType = reactive({
      themeArr: [
        "#FFFFFF",
        "#999EFF",
        "#1890ff",
        "#304156",
        "#212121",
        "#11a983",
        "#13c2c2",
        "#6959CD",
        "#f5222d",
      ],
    });
    function openDrawer() {
      drawer.value = !drawer.value;
    }
    function activeChange() {
      console.log(123);
    }

    const logout = () => {
      localStorage.clear();
      router.push("/login");
    };
    return {
      drawer,
      openDrawer,
      themeApi,
      activeChange,
      themeType,
      logout,
      userInfo,
    };
  },
  components: {
    ModificationAccountPassword,
  },
};
</script>
<style lang="less" scoped>
.themeColor {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.avatar-center {
  text-align: center;
}

.fixd {
  border: 1px solid #ddd;
  position: fixed;
  right: 0;
  top: 30%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  opacity: 0.6;
  cursor: pointer;

  .el-icon-setting {
    font-size: 24px;
    color: #aaa;
  }
}

.title {
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.content {
  padding: 10px;
}

.theme-title {
  font-size: 16px;
}

.logout {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.theme-type {
  width: 14px;
  height: 14px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #eee;
}
</style>
