<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 13:24:23
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2023-02-06 09:56:28
 * @FilePath: \Vue-Onepiece-Admin-master\src\layout\components\Sidebar\index.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template lang="pug">
el-menu.el-menu-vertical-demo(
  :collapse="state.controls.isCollapse",
  :collapse-transition="false",
  router,
  :default-active="currentActiveRoute",
  :background-color="variables.menuBg",
  @select="menuSelect",
  :text-color="variables.menuText",
  :active-text-color="variables.menuActiveText"
)
  Sidebar(:item="routes", basePath="")
</template>

<script lang="ts">
import { useStore } from "vuex";
import { useRoute } from "vue-router";
import { ref, watch } from "vue";
import Sidebar from "./Sidebar.vue";

import { useDynamicRoutesHook } from "@/composition/useTagViewApi";
import variables from "@/style/variable.less";
export default {
  props: ["routes"],
  setup() {
    const store = useStore();
    const route = useRoute();
    const { dynamicRouteTags } = useDynamicRoutesHook();

    let currentActiveRoute: any = ref("/");

  watch(route, (newVal, oldVal) => {
      if (newVal.meta.activePath) {
        currentActiveRoute.value = newVal.meta.activePath;
      } else {
        currentActiveRoute.value = newVal.path;
      }
    });

    function menuSelect(index: any) {
      let parentPath = "";
      let parentPathIndex = index.lastIndexOf("/");
      if (parentPathIndex > 0) {
        parentPath = index.slice(0, parentPathIndex);
      }
      dynamicRouteTags(index, parentPath);
    }
    return {
      state: store.state,
      menuSelect,
      variables,
      currentActiveRoute,
    };
  },
  components: {
    Sidebar,
  },
};
</script>
<style lang="less" scoped>
</style>
