<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 17:40:50
 * @LastEditors: guojinxin_hub 1907745233@qq.com
 * @LastEditTime: 2023-06-14 17:27:09
 * @FilePath: \garden_web\src\views\Component.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div>
    <JsonTable
      :searchColumns="searchColumns"
      :tableColumns="tableColumns"
      :service="localService"
      :options="tabOptions"
      :isOperate="true"
    >
      <template v-slot:under-search-slot="data">
        <div class="approval-button-div">
          <CommonExcel :tableColumns="data" name="accessControl" />
        </div>
      </template>
      <template v-slot:search-slot="searchForm">
        <CommonAllExcel class="approval-button-div" :searchForm="searchForm" name="accessControl" />
      </template>
    </JsonTable>
  </div>
</template>
<script>
import JsonTable from "@/components/JsonTable/index.vue";
import { ElMessage } from "element-plus";
import { reactive, getCurrentInstance, ref, watch, onMounted } from "vue";
import {
  searchColumns,
  localService,
  options,
  tableColumns,
} from "@/components/JsonTable/accessControlConfig.js";
import emitter from "@/utils/mitt.js";
import request from "@/request";
import _ from "lodash";
import CommonExcel from "@/components/CommonExcel.vue";
import CommonAllExcel from "@/components/CommonAllExcel.vue";

export default {
  setup(props, { emit }) {
    let tabOptions = reactive(options);
    let onModifyData = (val) => {
      tabOptions.startUpdate = Date.now(); // 更新列表
    };
    onMounted(async () => {
      const res = await request.get("/entranceGuard/accessControlDepartment");
      const data = [];
      res.data.forEach((item) => {
        data.push({ prop: item.Name, name: item.Name });
      });
      searchColumns[3].options = data;
    });

    // 监听事件，更新数据
    emitter.on("onModifyData", onModifyData);
    return {
      searchColumns,
      localService,
      options,
      tableColumns,
      tabOptions,
    };
  },
  components: {
    JsonTable,
    CommonExcel,
    CommonAllExcel
  },
};
</script>

<style lang="less" scoped>
.addUserForm-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.el-overlay {
  text-align: left;
}

.approval-button-div {
  display: flex;
  margin-bottom: 15px;
}
</style>
