<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 16:02:20
 * @LastEditors: guojinxin_hub 1907745233@qq.com
 * @LastEditTime: 2023-07-13 17:12:22
 * @FilePath: \Vue-Onepiece-Admin-master\src\components\VisitTimeModel.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <!-- Form -->
  <el-button class="addUserButton" type="primary" size="mini" @click="onUserButton(ruleFormRef)">{{ title
  }}
  </el-button>
  <div class="addUserForm">
    <el-dialog top="40px" v-model="dialogFormVisible" :title="titleModal">
      <div class="addUserForm-title">{{ title }}</div>
      <el-form ref="ruleFormRef" :model="form" :rules="rules">
        <el-form-item label="账号" :label-width="formLabelWidth" prop="nickname">
          <el-input v-model="form.nickname" autocomplete="off" placeholder="请输入账号" />
        </el-form-item>
        <el-form-item v-show="title === '创建账号'" label="密码" :label-width="formLabelWidth" prop="password">
          <el-input v-model="form.password" autocomplete="off" placeholder="请输入密码" />
        </el-form-item>
        <el-form-item label="姓名" :label-width="formLabelWidth" prop="name">
          <el-input v-model="form.name" autocomplete="off" placeholder="请输入姓名" />
        </el-form-item>
        <el-form-item label="性别" :label-width="formLabelWidth">
          <div class="mb-2 flex items-center text-sm">
            <el-radio-group v-model="form.gender" class="ml-4">
              <el-radio label="0" size="large">男</el-radio>
              <el-radio label="1" size="large">女</el-radio>
            </el-radio-group>
          </div>
        </el-form-item>
        <el-form-item label="手机号" :label-width="formLabelWidth" prop="phone">
          <el-input v-model="form.phone" autocomplete="off" placeholder="请输入手机号" />
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth" prop="email">
          <el-input v-model="form.email" autocomplete="off" placeholder="请输入邮箱" />
        </el-form-item>
        <el-form-item label="工号" :label-width="formLabelWidth" prop="jobNum">
          <el-input v-model="form.jobNum" autocomplete="off" placeholder="请输入工号" />
        </el-form-item>
        <el-form-item label="部门" :label-width="formLabelWidth" prop="department">
          <el-input v-model="form.department" autocomplete="off" placeholder="请输入部门" />
        </el-form-item>
        <el-form-item label="角色" :label-width="formLabelWidth" prop="role">
          <el-select v-model="form.role" class="m-2" placeholder="请选择" size="large">
            <el-option v-for="item in permissionOptions" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </el-form-item>
        <el-form-item label="是否处理告警权限" :label-width="formLabelWidth">
          <div class="mb-2 flex items-center text-sm">
            <el-radio-group v-model="form.isAlarm" class="ml-4">
              <el-radio :label="true" size="large">是</el-radio>
              <el-radio :label="false" size="large">否</el-radio>
            </el-radio-group>
          </div>
        </el-form-item>
        <el-form-item v-show="form.isAlarm === true" label="告警类型" :label-width="formLabelWidth" prop="alarmPerson">
           <el-checkbox-group v-model="form.alarmPerson" size="mini">
            <el-checkbox v-for="item in alarmPersonOptions"  :key="item.value" :label="item.value" :value="item.value">
               {{item.label}}
            </el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="更多操作权限" :label-width="formLabelWidth" prop="operationPermission">
          <el-checkbox-group v-model="form.operationPermission">
            <el-checkbox v-for="item in operationPermissionList" :key="item.value" :label="item.value"
              :value="item.value"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button v-show="title === '编辑'" type="primary" @click="resetPasswords()">重置密码</el-button>
          <el-button @click="dialogFormVisible = false">取消</el-button>
          <el-button type="primary" :loading="submitLoading" @click="submitForm(ruleFormRef)">提交</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { reactive, ref, getCurrentInstance } from "vue";
import { ElMessage } from 'element-plus';
import request from '@/request';
import emitter from "@/utils/mitt.js";
export default {
  props: ["title", 'titleModal', 'userInfo'],
  emits: ["onModifyData"],
  setup(props, { emit }) {
    let dialogFormVisible = ref(false);
    const formLabelWidth = "140px";
    const ruleFormRef = ref();
    const submitLoading = ref();
    let { proxy } = getCurrentInstance();
    const userInfo = props?.userInfo?.scope?.row;
    const form = reactive({
      name: userInfo?.name || '',
      phone: userInfo?.phone || '',
      jobNum: userInfo?.jobNum || '',
      gender: userInfo?.gender || '1',
      nickname: userInfo?.nickname || '',
      password: userInfo?.password || '',
      department: userInfo?.department || '',
      role: userInfo?.role || '0',
      isAlarm: userInfo?.isAlarm || false,
      alarmPerson: userInfo?.alarmPerson || [],
      email: userInfo?.email || '',
      operationPermission: JSON.parse(JSON.stringify(userInfo?.operationPermission || []) || []) || [],
    });
    const onUserButton = (formEl) => {
      dialogFormVisible.value = true;
      if (props.title !== '编辑') {
      formEl?.resetFields && formEl.resetFields();
      }
    };
    const rules = reactive({
      nickname: [
        { required: true, message: '请输入账号', trigger: 'blur' },
        { min: 4, max: 16, message: '长度为4-16位', trigger: 'blur' },
        {
          validator(_, value, callback) {
            const reg = /^[a-zA-z]\w{3,15}$/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (!reg.test(value)) {
              callback(new Error('账号规则：字母、数字，字母开头，4-16位'));
            } else {
              callback();
            }
            callback();
          },
          trigger: "blur"
        }
      ],
      password: [
        { required: props.title === '创建账号', message: '请输入密码', trigger: 'blur' },
        { min: 6, max: 16, message: '长度为6-16位', trigger: 'blur' },
      ],
      name: [
        { required: true, message: '请输入姓名', trigger: 'blur' },
      ],
      department: [
        { required: true, message: '请输入部门', trigger: 'blur' },
      ],
      phone: [
        { required: true, message: '请输入手机号', trigger: 'blur' },
        {
          validator(_, value, callback) {
            const reg = /^1(3[0-9]|4[01456879]|5[0-35-9]|6[2567]|7[0-8]|8[0-9]|9[0-35-9])\d{8}$/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (!reg.test(value)) {
              callback(new Error('请输入正确的手机号'));
            } else {
              callback();
            }
            callback();
          },
          trigger: "blur"
        }
      ],
      email: [
        { required: true, message: '请输入邮箱', trigger: 'blur' },
        {
          validator(_, value, callback) {
            // eslint-disable-next-line no-useless-escape
            const reg = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (!reg.test(value)) {
              callback(new Error('请输入正确的邮箱'));
            } else {
              callback();
            }
            callback();
          },
          trigger: "blur"
        }
      ],
      jobNum: [{ required: true, message: '请输入工号', trigger: 'blur' }]
    });
    const submitForm = async (formEl) => {
      submitLoading.value = true;

      await formEl.validate(async (valid, fields) => {
        if (valid) {
          if (props.title === '创建账号') {
            const res = await request.post('users/create', form);
            if (res.status !== 200) {
              submitLoading.value = false;
              ElMessage(res.message);
              return;
            }
            else {
              dialogFormVisible.value = false;
              emitter.emit('onModifyData', { name: 'add', data: res.data });
            }
            submitLoading.value = false;
          } else {
            const res = await request.put(`users/update/${userInfo?.id}`, form);
            if (res.status !== 200) {
              submitLoading.value = false;
              ElMessage(res.message);
              return;
            }
            else {
              dialogFormVisible.value = false;
              emitter.emit('onModifyData', { name: 'modify', data: res.data });
            }
            submitLoading.value = false;
          }

        } else {
          console.log('error submit!', fields);
          submitLoading.value = false;
        }
      });
    };
    const resetPasswords = () => {
      proxy
        .$confirm(
          "是否重置密码",
          "提示",
          {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }
        )
        .then(async () => {
          const res = await request.put(`/users/resetPwd/${userInfo?.id}`, form);
          if (res.status !== 200) {
            ElMessage(res.message);
            return;
          }
          proxy.$message({
            type: "success",
            message: "重置成功，新密码：Ad@1234",
          });
        })
        .catch(() => {
          proxy.$message({
            type: "info",
            message: "已取消重置",
          });
        });


    };
    const permissionOptions = [
      {
        value: '0',
        label: '普通用户',
      },
      {
        value: '1',
        label: '审批用户',
      },
      {
        value: '2',
        label: '管理员',
      },
      {
        value: '3',
        label: '安保人员',
      }
    ];
    const alarmPersonOptions = [
      {
        value: '1',
        label: '污水检测指标告警负责人',
      },
      {
        value: '2',
        label: '水电处理人',
      },
      {
        value: '3',
        label: '室内温度指标告警负责人',
      },
      {
        value: '4',
        label: '消防告警负责人',
      },
      {
        value: '5',
        label: '门岗告警负责人',
      },
      {
        value: '6',
        label: '温湿度告警负责人',
      },
      {
        value: '7',
        label: '门禁告警负责人',
      },
      {
        value: '8',
        label: '监控告警负责人',
      }
    ];
    const operationPermissionList = [{
      value: '水表管控',
    },
    {
      value: '电表管控',
    },
    {
      value: '汽表管控',
    },
    {
      value: '考勤报表',
    },
    {
      value: '道闸报表',
    },
    {
      value: '门禁报表',
    },
    {
      value: '巡更报表',
    },
    {
      value: '访客报表',
    },
    {
      value: '月度能耗使用情况',
    },
    {
      value: '字典管理',
    }];
    return {
      dialogFormVisible,
      formLabelWidth,
      form,
      rules,
      ruleFormRef,
      submitForm,
      permissionOptions,
      alarmPersonOptions,
      resetPasswords,
      onUserButton,
      submitLoading,
      operationPermissionList
    };
  }
};

</script>
<style lang="less" scoped>
.addUserForm-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.el-button--text {
  margin-right: 15px;
}

.el-select {
  width: 300px;
}

.el-input {
  width: 300px;
}

.dialog-footer button:first-child {
  margin-right: 10px;
}

.addUserButton {
  margin-right: 10px;
}

.addUserForm {
  .el-form-item {
    margin-bottom: 12px;
  }

  .is-error {
    margin-bottom: 22px;
  }
}
</style>
