<template>
  <!-- Form -->
  <el-button class="addUserButton" type="primary" @click="onDialogForm(ruleFormRef)">{{
  title || '添加同行人员'}}
  </el-button>
  <div class="addUserForm">
    <el-dialog top="40px" v-model="dialogFormVisible" :title="titleModal">
      <div class="addUserForm-title">{{ title }}</div>
      <el-form ref="ruleFormRef" :model="form" :rules="rules">
        <el-form-item label="访客姓名" :label-width="formLabelWidth" prop="name">
          <el-input v-model="form.name" autocomplete="off" placeholder="请输入访客姓名" />
        </el-form-item>
        <el-form-item label="身份证号码" :label-width="formLabelWidth" prop="idNum">
          <el-input v-model="form.idNum" autocomplete="off" placeholder="请输入身份证号码" />
        </el-form-item>
        <el-form-item label="车牌号码" :label-width="formLabelWidth" prop="licensePlateNum">
          <el-input v-model="form.licensePlateNum" autocomplete="off" placeholder="请输入车牌号码，如带车拜访必填" />
        </el-form-item>
        <div v-show="userInfo?.isApproval">
          <el-form-item label="健康码" :label-width="formLabelWidth" prop="healthCode">
            <el-upload v-model:file-list="form.healthCode" :on-success="healthCodeSuccess" limit="1"
              action="/api/users/uploadAvatar" list-type="picture-card" :on-preview="onHealthCode"
              :headers="{ authorization: token }" :on-remove="handleRemove">
              <el-icon>
                <Plus />
              </el-icon>
            </el-upload>
            <el-dialog v-model="healthVisible">
              <img style="width:100%" w-full :src="dialogHealthCodeUrl" alt="Preview Image" />
            </el-dialog>
          </el-form-item>
          <el-form-item label="行程码" :label-width="formLabelWidth" prop="tourCode">
            <el-upload :file-list="form.tourCode" :on-success="tourCodeSuccess" action="/api/users/uploadAvatar"
              list-type="picture-card" :on-preview="handlePictureCardPreview" :headers="{ authorization: token }"
              :on-remove="handleRemove">
              <el-icon>
                <Plus />
              </el-icon>
            </el-upload>
            <el-dialog v-model="dialogVisible">
              <img w-full :src="dialogImageUrl" alt="Preview Image" />
            </el-dialog>
          </el-form-item>
        </div>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取消</el-button>
          <el-button type="primary" @click="submitData(ruleFormRef)">提交</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { reactive, ref, watch } from "vue";
import _ from 'lodash';
import request from '@/request';
import emitter from "@/utils/mitt.js";
import { ElMessage } from 'element-plus';
import { Plus } from '@element-plus/icons-vue';
import { useStore } from 'vuex';
import uuid from "uuid";
const userInfo = ref(JSON.parse(localStorage.getItem('user') || null));
export default {
  props: ["title", 'titleModal', 'visitInfo', 'visitId'],
  emits: ["getVisitData"],
  setup(props, { emit }) {
    const store = useStore();
    const dialogFormVisible = ref(false);
    const formLabelWidth = "140px";
    const ruleFormRef = ref();
    const dialogHealthCodeUrl = ref('');
    const dialogImageUrl = ref('');
    const dialogVisible = ref(false);
    const healthVisible = ref(false);
    const token = ref(localStorage.getItem('token'));
    const form = reactive({
      id: props.visitInfo?.id || "",
      name: props.visitInfo?.name || "",
      idNum: props.visitInfo?.idNum || "",
      licensePlateNum: props.visitInfo?.licensePlateNum || "",
      healthCode: !_.isEmpty(props.visitInfo?.healthCode) ? [{ url: props.visitInfo?.healthCode }] : [],
      tourCode: !_.isEmpty(props.visitInfo?.tourCode) ? [{ url: props.visitInfo?.tourCode }] : [],
    });

    const rules = reactive({
      name: [
        { required: true, message: '请输入访客姓名', trigger: 'blur' },
      ],
      idNum: [
        { required: false, message: '请输入身份证号码', trigger: 'blur' },
        {
          validator(_, value, callback) {
            const reg = /(^\d{8}(0\d|10|11|12)([0-2]\d|30|31)\d{3}$)|(^\d{6}(18|19|20)\d{2}(0\d|10|11|12)([0-2]\d|30|31)\d{3}(\d|X|x)$)/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (value) {
              if (!reg.test(value)) {
                callback(new Error('请输入正确的身份证号码'));
              } else {
                callback();
              }
              callback();
            }
            callback();
          },
          trigger: "blur"
        }
      ],
      licensePlateNum: [
        { required: false, message: '请输入车牌号', trigger: 'blur' },
        {
          validator(_, value, callback) {
            const reg = /^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼]{1}[A-HJ-NP-Z]{1}(([A-HJ-NP-Z0-9]{5})|([0-9]{6}|[A-HJ-NP-Z]{1}[0-9]{5}|[0-9]{5}[A-HJ-NP-Z]{1}|[A-HJ-NP-Z]{2}[0-9]{4}))$/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (value) {
              if (!reg.test(value)) {
                callback(new Error('请输入正确的车牌号'));
              } else {
                callback();
              }
              callback();
            }
            callback();
          },
          trigger: "blur"
        }],
    });
    const onDialogForm = (async (formEl) => {
      dialogFormVisible.value = true;
      formEl?.resetFields && formEl.resetFields();
    });
    const submitData = async (formEl) => {
      if (!formEl) return;
      await formEl.validate(async (valid, fields) => {
        if (valid) {
          const formData = { ...form };
          if (!_.isEmpty(form.healthCode)) {
            formData.healthCode = form.healthCode[0].url;
          } else {
            formData.healthCode = '';
          }
          if (!_.isEmpty(form.tourCode)) {
            formData.tourCode = form.tourCode[0].url || '';
          } else {
            formData.tourCode = '';
          }
          if (props.title === '修改') {
            store.dispatch('updateVisitData', formData);
          } else {
            formData.id = uuid.v4();
            store.dispatch('getVisitInfo', formData);
          }
          emit("getVisitData", store.state.visitInfo.visitList);
          dialogFormVisible.value = false;
        } else {
          console.log('error submit!', fields);
        }
      });
    };


    const handleRemove = (uploadFile, uploadFiles) => {
      console.log(uploadFile, uploadFiles);
    };

    const handlePictureCardPreview = (uploadFile) => {
      dialogVisible.value = true;
      dialogImageUrl.value = uploadFile.url;
    };
    const onHealthCode = (uploadFile) => {
      dialogHealthCodeUrl.value = uploadFile.url;
      healthVisible.value = true;
    };
    const healthCodeSuccess = (response, uploadFile) => {
      form.healthCode[0] = { url: uploadFile.response.data.message };
    };
    const tourCodeSuccess = (response, uploadFile) => {
      form.tourCode[0] = { url: uploadFile.response.data.message };
    };

    return {
      dialogFormVisible,
      formLabelWidth,
      form,
      rules,
      ruleFormRef,
      submitData,
      dialogImageUrl,
      dialogVisible,
      handleRemove,
      handlePictureCardPreview,
      userInfo,
      dialogHealthCodeUrl,
      healthVisible,
      healthCodeSuccess,
      tourCodeSuccess,
      onHealthCode,
      token,
      onDialogForm
    };
  },
  components: {
    Plus
  }
};

</script>
<style lang="less" scoped>
.el-button--text {
  margin-right: 15px;
}

.addUserForm-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.el-input {
  width: 300px;
}

.addUserButton {
  margin-right: 10px;
}

.addUserForm {
  .el-form-item {
    margin-bottom: 12px;
  }

  .is-error {
    margin-bottom: 22px;
  }
}


</style>
