<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2023-02-03 17:26:22
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2023-04-26 11:20:33
 * @FilePath: \garden_web\src\views\VisitorDrawer.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div class="alarmInfoDiv">
    <div class="visitorTitle">
      <div>设备名称</div>
      <div>告警级别</div>
      <div>状态</div>
      <div>处理意见</div>
      <div>告警时间</div>
      <div>修改时间</div>
      <div>告警描述</div>
      <div>处理人姓名</div>
      <div>处理人手机号</div>
      <div>处理人邮箱</div>
      <div>处理人工号</div>
    </div>
    <div class="visitorValue">
      <div>{{ alarmInfoData.ciName }}</div>
      <div>
        {{
          alarmlevelList.find((item) => {
            return alarmInfoData.alarmlevel === item.value;
          }).name
        }}
      </div>
      <div>
        {{
          stateList.find((item) => {
            return alarmInfoData.status === item.value;
          }).name
        }}
      </div>
      <div>
        {{ alarmInfoData.handlingOpinions || "-" }}
      </div>
      <div>
        {{
          moment(alarmInfoData.alarm_time).format("YYYY-MM-DD HH:mm:ss") || "--"
        }}
      </div>
      <div>
        {{
          moment(alarmInfoData.modify_time).format("YYYY-MM-DD HH:mm:ss") ||
          "--"
        }}
      </div>
      <div>
        {{ alarmInfoData.alarm_information || "-" }}
      </div>
      <div>{{ alarmInfoData.adminUser?.name || "-" }}</div>
      <div>{{ alarmInfoData.adminUser?.phone || "-" }}</div>
      <div>{{ alarmInfoData.adminUser?.email || "-" }}</div>
      <div>{{ alarmInfoData.adminUser?.jobNum || "-" }}</div>
    </div>
  </div>
  <el-dialog v-model="handleVisible" title="处理报警工单" width="30%" center>
    <el-form ref="ruleFormRef" :model="form" :rules="rules">
      <el-form-item label="处理意见" prop="handlingOpinions">
        <el-input
          v-model="form.handlingOpinions"
          autocomplete="off"
          type="textarea"
          placeholder="请输入处理意见"
        />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button
          type="primary"
          @click="submitForm(ruleFormRef)"
          >确定</el-button
        >
      </span>
    </template>
  </el-dialog>
  <div style="text-align: center">
    <span v-show="alarmInfoData.status === '1'">
      <el-button type="primary" text @click="handleClick()">处理</el-button>
    </span>
    <span v-show="alarmInfoData.status === '2'">
      <el-button type="primary" text @click="closeClick()">关闭</el-button>
    </span>
  </div>
</template>
<script>
import { ref, watch, reactive } from "vue";
import moment from "moment";
import { ElMessage, ElMessageBox } from "element-plus";
import { isEmpty } from "lodash";
import request from "@/request";
import emitter from "@/utils/mitt.js";

export default {
  props: ["alarmInfo"],
  emits: ["onCellClick"],
  setup(props, { emit }) {
    const dialogTableVisible = ref(false);
    const alarmInfoData = ref(props.alarmInfo);
    const isVisit = ref(true);
    const handleVisible = ref(false);
    const workOrderId = ref("");
    const ruleFormRef = ref();
    const form = reactive({
      handlingOpinions: "",
      status: "",
    });
    watch(props, () => {
      alarmInfoData.value = props.alarmInfo;
    });
    const alarmlevelList = [
      {
        name: "严重",
        value: "1",
      },
      {
        name: "重要",
        value: "2",
      },
      {
        name: "次要",
        value: "3",
      },
      {
        name: "普通",
        value: "4",
      },
    ];
    const stateList = [
      {
        name: "待处理",
        value: "1",
      },
      {
        name: "处理中",
        value: "2",
      },
      {
        name: "关闭",
        value: "3",
      },
    ];
    function handleClick() {
      handleVisible.value = true;
      workOrderId.value = alarmInfoData.value.id;
      form.handlingOpinions = "";
    }
    const closeClick = async () => {
      const res = await request.put(
        `/alarm/updateStatus/${alarmInfoData.value.id}`,
        { status: "3" }
      );
      if (res.status !== 200) {
        ElMessage(res.message);
        return;
      }
      emit("onCellClick");
      handleVisible.value = false;
      emitter.emit("onModifyData");
    };
    const submitForm = async (formEl) => {
      await formEl.validate(async (valid, fields) => {
        if (valid) {
          form.status = "2";
          const res = await request.put(
            `/alarm/updateStatus/${workOrderId.value}`,
            form
          );
          if (res.status !== 200) {
            ElMessage(res.message);
            return;
          }
          emit("onCellClick");
          handleVisible.value = false;
          emitter.emit("onModifyData");
        } else {
          console.log("error submit!", fields);
        }
      });
    };
    return {
      alarmInfoData,
      isEmpty,
      dialogTableVisible,
      moment,
      stateList,
      handleVisible,
      alarmlevelList,
      ruleFormRef,
      handleClick,
      submitForm,
      closeClick,
      form,
    };
  },
};
</script>
<style lang="less">
.alarmInfoDiv {
  display: flex;
  margin-left: 48px;
  margin-bottom: 50px;

  .fellowPersonnel {
    cursor: pointer;
    color: blue;
  }

  .visitorTitle {
    font-family: SourceHanSansSC;
    font-size: 14px;
    color: rgb(187, 187, 187);
    text-align: right;
    margin-left: 48px;

    div {
      margin-top: 20px;
    }
  }

  .dialog-footer {
    text-align: center;
  }

  .visitorValue {
    font-family: SourceHanSansSC;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    margin-left: 28px;

    div {
      margin-top: 20px;
    }
  }

  .visitorImage {
    div {
      margin: 0px;
    }
  }
}
</style>
