<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 17:40:50
 * @LastEditors: guojinxin_hub 1907745233@qq.com
 * @LastEditTime: 2023-07-14 10:33:40
 * @FilePath: \garden_web\src\views\Component.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div class="visitor-details">
    <JsonTable
      :searchColumns="searchColumns"
      :tableColumns="tableColumns"
      :service="localService"
      :options="tabOptions"
      @onformchange="handleChange"
      @rowselectchange="handleRowSelectChange"
      @onCellClick="onCellClick"
    >
      <template v-slot:under-search-slot>
        <div class="approval-button-div" v-if="userInfo.role !== '3'">
          <VisitTimeModel title="访客预约" titleModal="新增访客信息" />
        </div>
      </template>
      <template class="visitModel" v-slot:op="scope">
        <div v-show="scope?.scope?.row?.visitId">
          <!--3代表保安-->
          <div v-show="userInfo?.role === '3'">
            <ViewingOperationRecords :visitInfo="scope" />
          </div>
          <!--2代表管理员 1审批员-->
          <div v-show="userInfo?.role === '2' || userInfo?.role === '1'">
            <!--已审批 展示删除 修改 查看操作记录 查看二维码-->
            <!--自己创建的访客-->

            <div
              v-show="
                scope?.scope?.row?.status === '1' &&
                userInfo?.id === scope?.scope?.row?.createUser_Id
              "
            >
              <div class="visitor-del">
                <VisitTimeModel
                  title="修改"
                  titleModal="修改人员信息"
                  :visitInfo="scope"
                />
                <el-button
                  type="danger"
                  style="margin-left: 6px"
                  size="mini"
                  @click="handleDelete(scope)"
                  >删除</el-button
                >
              </div>
              <QrCodeModal
                v-show="scope?.scope?.row?.status === '3'"
                :visitInfo="scope"
              />
              <!--审批人员 状态为待审批（驳回）-->
              <div
                v-show="
                  userInfo?.role === '1' && scope?.scope?.row?.status === '3'
                "
                style="margin-bottom: 3px"
              >
                <el-button
                  type="warning"
                  size="mini"
                  @click="reasonRejectionClick(scope)"
                >
                  查看驳回原因</el-button
                >
              </div>
            </div>
            <!--不是自己创建的访客 状态为待审批或待审批（驳回）-->
            <div
              style="margin-bottom: 3px"
              v-show="
                userInfo?.id !== scope?.scope?.row?.createUser_Id &&
                (scope?.scope?.row?.status === '0' ||
                  scope?.scope?.row?.status === '3')
              "
            >
              <!--审批  -->
              <ExaminationModal :visitInfo="scope" />
            </div>
            <ViewingOperationRecords :visitInfo="scope" />
          </div>
          <!--普通用户-->
          <div v-show="userInfo?.role === '0'">
            <!--状态为 待审批 或待审批（驳回）自己创建的访客-->
            <div
              v-show="
                (scope?.scope?.row?.status === '0' ||
                  scope?.scope?.row?.status === '3') &&
                userInfo?.id === scope?.scope?.row?.createUser_Id
              "
            >
              <div class="visitor-del">
                <VisitTimeModel
                  title="修改"
                  titleModal="修改人员信息"
                  :visitInfo="scope"
                />
                <el-button
                  style="margin-left: 6px"
                  type="danger"
                  size="mini"
                  @click="handleDelete(scope)"
                  >删除</el-button
                >
              </div>
              <!--普通用户 状态为待审批（驳回）-->
              <div
                v-show="scope?.scope?.row?.status === '3'"
                style="margin-bottom: 3px"
              >
                <el-button
                  type="warning"
                  size="mini"
                  @click="reasonRejectionClick(scope)"
                >
                  查看驳回原因</el-button
                >
              </div>
            </div>
            <!--普通用户 状态已审批-->
            <div
              v-show="
                scope?.scope?.row?.status === '1' &&
                userInfo?.id === scope?.scope?.row?.createUser_Id
              "
            >
              <el-button type="danger" size="mini" @click="handleDelete(scope)"
                >删除</el-button
              >
              <QrCodeModal :visitInfo="scope" />
            </div>
            <ViewingOperationRecords :visitInfo="scope" />
          </div>
        </div>
      </template>
    </JsonTable>
    <el-drawer title="访客详情" v-model="drawer">
      <VisitorDrawer
        :visitorInfo="visitorInfo"
        :fileData="fileList"
        @onCellClick="onCellClick"
      />
    </el-drawer>
    <el-dialog
      v-model="centerDialogVisible"
      title="查看驳回原因"
      width="30%"
      center
    >
      <el-form>
        <el-form-item label="驳回原因">
          <el-input v-model="overruledInfo" disabled="false" type="textarea" />
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import JsonTable from "@/components/JsonTable/visitorIndex.vue";
import VisitTimeModel from "./VisitTimeModel.vue";
import ExaminationModal from "@/views/ExaminationModal";
import ViewingOperationRecords from "@/views/ViewingOperationRecords";
import QrCodeModal from "@/views/QrCodeModal";
import VisitorDrawer from "@/views/VisitorDrawer";
import { reactive, getCurrentInstance, ref, watch } from "vue";
import {
  searchColumns,
  tableColumns,
  localService,
  options,
} from "@/components/JsonTable/config.js";
import emitter from "@/utils/mitt.js";
import request from "@/request";
import { ElMessage } from "element-plus";
import _ from "lodash";
export default {
  setup(props, { emit }) {
    const overruledInfo = ref("");
    const centerDialogVisible = ref(false);
    const drawer = ref(false);
    const visitorInfo = ref({});
    const fileList = ref([]);
    let { proxy } = getCurrentInstance();
    let tabOptions = reactive(options);
    const userInfo = ref(JSON.parse(localStorage.getItem("user") || null));
    let onModifyData = (val) => {
      tabOptions.startUpdate = Date.now(); // 更新列表
    };
    // 监听事件，更新数据
    emitter.on("onModifyData", onModifyData);
    function handleChange(params) {
      console.log(params);
    }
    function handleCheck(val) {
      console.log(val, "check");
    }
    function handleDelete({ scope }) {
      proxy
        .$confirm(
          "此操作将永久删除该访客, 是否继续? 确定删除后更新列表",
          "提示",
          {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }
        )
        .then(() => {
          request
            .put(
              `/visit/updateStatus/${scope?.row?.id}/${scope?.row?.visitId}`,
              { status: "6" }
            )
            .then((res) => {
              if (res.status !== 200) {
                ElMessage(res.message);
                return;
              }
              tabOptions.startUpdate = Date.now(); // 更新列表
              proxy.$message({
                type: "success",
                message: "删除成功!",
              });
            });
        })
        .catch(() => {
          proxy.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    }

    function handleRowSelectChange(val) {
      console.log(val, "selectList");
    }
    const onCellClick = async (scope) => {
      if (scope) {
        visitorInfo.value = scope;
        drawer.value = true;
        const res = await request.get("visit/getOutboundFreightImage", {
          id: scope.id,
        });
        if (res.status !== 200) {
          ElMessage(res.message);
          return;
        }
        let imageList = [];
        if (!_.isEmpty(res.data.outboundFreightImage)) {
          imageList = await res.data.outboundFreightImage.map((item) => {
            return (item = { url: item });
          });
        }
        fileList.value = imageList || [];
      } else {
        drawer.value = false;
      }
    };
    const reasonRejectionClick = (scope) => {
      centerDialogVisible.value = true;
      overruledInfo.value = scope?.scope?.row?.rejectDescribe;
    };
    const examinationClick = async (scope) => {
      const res = await request.put(
        `/visit/updateStatus/${scope?.scope?.row?.id}/${scope?.scope?.row?.visitId}`,
        { status: "3" }
      );
      if (res.status !== 200) {
        ElMessage(res.message);
        return;
      }
      onModifyData();
    };
    return {
      searchColumns,
      tableColumns,
      handleChange,
      localService,
      tabOptions,
      handleCheck,
      handleDelete,
      handleRowSelectChange,
      userInfo,
      examinationClick,
      centerDialogVisible,
      overruledInfo,
      reasonRejectionClick,
      onCellClick,
      drawer,
      visitorInfo,
      fileList,
    };
  },
  components: {
    JsonTable,
    VisitTimeModel,
    ExaminationModal,
    ViewingOperationRecords,
    QrCodeModal,
    VisitorDrawer,
  },
};
</script>

<style lang="less">
.el-overlay {
  text-align: left;
}
.visitor-del {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
.visitorDetails {
  font-family: SourceHanSansSC;
  font-weight: 700;
  font-size: 16px;
  color: rgb(48, 65, 86);
  font-style: normal;
}
.visitor-details {
  .el-drawer__body {
    overflow-y: auto;
  }
}
.approval-button-div {
    display: flex;
    margin-bottom: 15px;
}
</style>
