<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 16:02:20
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2023-01-29 15:45:35
 * @FilePath: \Vue-Onepiece-Admin-master\src\components\VisitTimeModel.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <!-- Form -->
  <el-button class="addUserButton" type="primary" size="mini" @click="handleClick()">添加</el-button>
  <el-dialog v-model="handleVisible" title="添加数据字典" width="30%" center>
    <el-form ref="ruleFormRef" :model="form" :rules="rules">
      <el-form-item label="名称" prop="name">
        <el-input v-model="form.name" autocomplete="off" placeholder="请输入数据名称" />
      </el-form-item>
      <el-form-item label="类型" prop="type">
        <div class="mb-2 flex items-center text-sm">
          <el-select v-model="form.type" class="m-2" filterable placeholder="请选择类型" size="large">
            <el-option v-for="item in typeOptions" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </div>
      </el-form-item>
      <el-form-item label="位置" prop="position">
        <el-input v-model="form.position" autocomplete="off" placeholder="请输入位置" />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button type="primary" @click="submitForm(ruleFormRef)">确定</el-button>
        <el-button @click="handleVisible = false">取消</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
import { reactive, ref, getCurrentInstance } from "vue";
import { ElMessage } from 'element-plus';
import request from '@/request';
import emitter from "@/utils/mitt.js";
export default {
  props: [],
  emits: ["onModifyData"],
  setup(props, { emit }) {
    const handleVisible = ref(false);
    const ruleFormRef = ref();
    const form = reactive({
      name: "",
      type: "",
      position: ""
    });
    const typeOptions = ref([{
      id: '0',
      name: '水表'
    }, {
      id: '1',
      name: '电表'
    }, {
      id: '2',
      name: '汽表'
    }]);
    const submitLoading = ref(false);

    const rules = reactive({
      name: [{ required: true, message: '请输入数据名称', trigger: 'blur' }],
      type: [{ required: true, message: '请输入类型', trigger: 'blur' }],
      position: [{ required: true, message: '请输入位置', trigger: 'blur' }],

    });
    const submitForm = async (formEl) => {
      submitLoading.value = true;

      await formEl.validate(async (valid, fields) => {
        if (valid) {
          const res = await request.post('dictionary/create', form);
          if (res.status !== 200) {
            ElMessage(res.message);
            submitLoading.value = false;
            return;
          }
          emitter.emit('onModifyData', { data: res.data });
          handleVisible.value = false;
        } else {
          submitLoading.value = false;
          console.log('error submit!', fields);
        }
      });
    };
    const handleClick = () => {
      submitLoading.value = false;
      handleVisible.value = true;
      form.name = '';
      form.type = '';
      form.position = '';

    };
    return {
      handleVisible,
      form,
      rules,
      typeOptions,
      handleClick,
      submitForm,
      ruleFormRef
    };
  }
};

</script>
<style lang="less" scoped>
.addUserForm-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.el-button--text {
  margin-right: 15px;
}

.el-select {
  width: 300px;
}

.el-input {
  width: 300px;
}

.dialog-footer button:first-child {
  margin-right: 10px;
}

.addUserButton {
  margin-right: 10px;
}

.addUserForm {
  .el-form-item {
    margin-bottom: 12px;
  }

  .is-error {
    margin-bottom: 22px;
  }
}
</style>
