
<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-12-05 13:47:20
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2022-12-05 16:07:16
 * @FilePath: \garden_web\src\views\dictionaryManagement.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div>
    <JsonTable :searchColumns="searchColumns" :tableColumns="tableColumns" :service="localService" :options="tabOptions"
      @onformchange="handlechange" @rowselectchange="handleRowSelectChange">
      <template v-slot:under-search-slot>
        <div class="approval-button-div">
          <DictionaryModal />
        </div>
      </template>
      <template class="visitModel" v-slot:op="scope">
        <div v-show="scope.scope.row.status === '0'">
          <img  @click="handleClick(scope, '1')" class="dictionaryButton" :src="require('../assets/open.svg')" />
        </div>
        <div v-show="scope.scope.row.status === '1'">
          <img  @click="handleClick(scope, '0')" class="dictionaryButton" :src="require('../assets/close.svg')" />
        </div>
      </template>
    </JsonTable>
  </div>
</template>
<script>
import JsonTable from "@/components/JsonTable/index.vue";
import { ElMessage } from 'element-plus';
import { reactive, getCurrentInstance, ref } from "vue";
import {
  searchColumns,
  localService,
  options,
  tableColumns
} from "@/components/JsonTable/dictionaryConfig.js";
import DictionaryModal from './DictionaryModal';
import request from '@/request';
import emitter from "@/utils/mitt.js";

export default {
  setup(props, { emit }) {
    const form = reactive({
      name: "",
    });
    let { proxy } = getCurrentInstance();
    let tabOptions = reactive(options);
    let onModifyData = (val) => {
      tabOptions.startUpdate = Date.now(); // 更新列表
    };
    // 监听事件，更新数据
    emitter.on('onModifyData', onModifyData);

    function handleRowSelectChange(val) {
      console.log(val, "selectList");
    }
    async function handleClick({ scope }, status) {

      const res = await request.put(`/dictionary/update/${scope.row.id}`, { status:status });
      if (res.status !== 200) {
        ElMessage(res.message);
        return;
      }
      tabOptions.startUpdate = Date.now(); // 更新列表
    }

    return {
      searchColumns,
      tableColumns,
      localService,
      tabOptions,
      handleRowSelectChange,
      form,
      handleClick
    };
  },
  components: {
    JsonTable,
    DictionaryModal
  },
};
</script>

<style lang="less" scoped>
.addUserForm-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.el-overlay {
  text-align: left;
}

.approval-button-div {
  display: flex;
  margin-bottom: 15px;
}
.dictionaryButton{
  width: 26px;
  height: 26px;
  cursor: pointer
}
</style>
