<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 17:40:50
 * @LastEditors: guojinxin_hub 1907745233@qq.com
 * @LastEditTime: 2023-06-15 14:07:50
 * @FilePath: \garden_web\src\views\Component.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <div>
        <JsonTable :searchColumns="searchColumns" :tableColumns="tableColumns" :service="localService"
            :options="tabOptions" @onformchange="handlechange" @rowselectchange="handleRowSelectChange">
            <template v-slot:under-search-slot="data">
                <div class="approval-button-div">
                    <EnergyModal type="电表" title="录入" />
                    <CommonExcel :tableColumns="data"/>
                </div>
            </template>
            <template v-slot:search-slot="searchForm">
              <CommonAllExcel class="approval-button-div" :searchForm="searchForm" name="electricity" />
            </template>
            <template class="visitModel" v-slot:op="scope">
                <EnergyModal type="电表" v-if="!scope?.scope?.row?.isAutomatic" :energyInfo="scope" title="修改" />
            </template>
        </JsonTable>
    </div>
</template>
<script>
import JsonTable from "@/components/JsonTable/index.vue";
import { ElMessage } from 'element-plus';
import { reactive, getCurrentInstance, ref } from "vue";
import {
    searchColumns,
    localService,
    options,
    tableColumns
} from "@/components/JsonTable/useElectricityConfig.js";
import EnergyModal from './EnergyModal';
import request from '@/request';
import emitter from "@/utils/mitt.js";
import CommonExcel from "@/components/CommonExcel.vue";
import CommonAllExcel from "@/components/CommonAllExcel.vue";

export default {
    setup(props, { emit }) {
        let tabOptions = reactive(options);
        let onModifyData = (val) => {
            tabOptions.startUpdate = Date.now(); // 更新列表
        };
        // 监听事件，更新数据
        emitter.on('onModifyData', onModifyData);
        return {
            searchColumns,
            localService,
            options,
            tableColumns,
            tabOptions,
        };
    },
    components: {
        JsonTable,
        EnergyModal,
        CommonExcel,
        CommonAllExcel
    },
};
</script>

<style lang="less" scoped>
.addUserForm-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.el-overlay {
    text-align: left;
}

.approval-button-div {
    display: flex;
    margin-bottom: 15px;
}
</style>
