<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2023-02-02 14:59:56
 * @LastEditors: guojinxin_hub 1907745233@qq.com
 * @LastEditTime: 2023-06-15 14:15:52
 * @FilePath: \garden_web\src\views\EnergyMonthConsumption.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div>
    <JsonTable
      :searchColumns="searchColumns"
      :tableColumns="tableColumns"
      :service="localService"
      :options="tabOptions"
      @onformchange="handlechange"
      @rowselectchange="handleRowSelectChange"
    >
      <template v-slot:under-search-slot="data">
        <div class="approval-button-div">
          <CommonExcel :tableColumns="data" name="monthlyEnergy" />
        </div>
      </template>
      <template v-slot:search-slot="searchForm">
        <CommonAllExcel class="approval-button-div" :searchForm="searchForm" name="monthlyEnergy" />
      </template>
      <template class="visitModel" v-slot:op="scope">
        <el-button type="text" @click="open(scope?.scope?.row)">修改</el-button>
      </template>
    </JsonTable>
    <el-dialog v-model="handleVisible" title="修改" width="30%" center>
      <el-form ref="ruleFormRef" :model="form" :rules="rules">
        <el-form-item label="当月数据总量" prop="total">
          <el-input
            v-model="form.total"
            autocomplete="off"
            placeholder="请输入数据总量"
          />
        </el-form-item>
        <el-form-item label="当月金额总量" prop="type">
          <el-input
            v-model="form.amountTotal"
            autocomplete="off"
            placeholder="请输入金额"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button
            :loading="submitLoading"
            type="primary"
            @click="submitForm(ruleFormRef)"
            >确定</el-button
          >
          <el-button @click="handleVisible = false">取消</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import JsonTable from "@/components/JsonTable/index.vue";
import { ElMessage } from "element-plus";
import { reactive, getCurrentInstance, ref } from "vue";
import {
  searchColumns,
  localService,
  options,
  tableColumns,
} from "@/components/JsonTable/energyConfig.js";
import EnergyModal from "./EnergyModal";
import request from "@/request";
import emitter from "@/utils/mitt.js";
import CommonExcel from "@/components/CommonExcel.vue";
import CommonAllExcel from "@/components/CommonAllExcel.vue";

export default {
  setup(props, { emit }) {
    let tabOptions = reactive(options);
    let { proxy } = getCurrentInstance();
    const handleVisible = ref(false);
    const ruleFormRef = ref();

    const form = reactive({
      id:'',
      total: "",
      amountTotal: "",
    });

    const submitLoading = ref(false);

    let onModifyData = (val) => {
      tabOptions.startUpdate = Date.now(); // 更新列表
    };
    const rules = reactive({
      total: [
        { required: false, message: "请输入数据总量", trigger: "blur" },
        {
          validator(_, value, callback) {
            const reg = /^(\d+)(.\d{0,2})?$/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (value) {
              if (!reg.test(value)) {
                callback(new Error("必须为数字类型,不能超过2位小数"));
              } else {
                callback();
              }
              callback();
            }
            callback();
          },
          trigger: "blur",
        },
      ],
      type: [
        { required: false, message: "请输入金额", trigger: "blur" },
        {
          validator(_, value, callback) {
            const reg = /^(\d+)(.\d{0,2})?$/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (value) {
              if (!reg.test(value)) {
                callback(new Error("必须为数字类型,不能超过2位小数"));
              } else {
                callback();
              }
              callback();
            }
            callback();
          },
          trigger: "blur",
        },
      ],
    });
    // 监听事件，更新数据
    emitter.on("onModifyData", onModifyData);
    const submitForm = async (formEl) => {
      submitLoading.value = true;
      await formEl.validate(async (valid, fields) => {
        if (valid) {
          const res = await request.put(
            `/energyConsumption/update/${form.id}`,
            {
              ...form,
            }
          );
          tabOptions.startUpdate = Date.now(); // 更新列表
          handleVisible.value = false;
          submitLoading.value = false;

        } else {
          submitLoading.value = false;
          console.log("error submit!", fields);
        }
      });
    };
    // 点击修改
    const open = (item) => {
      handleVisible.value = true;
      form.id = item.id;
      form.total = item.total;
      form.amountTotal = item.amount_total;
      // proxy
      //   .$prompt(
      //     "请输入金额",
      //     "修改",
      //     {
      //       confirmButtonText: "确定",
      //       cancelButtonText: "取消",
      //       inputPattern: /^(\d+)(.\d{0,2})?$/,
      //       inputErrorMessage: "必须为数字类型,不能超过2位小数",
      //     },
      //     "请输入金额222",
      //     "修改",
      //     {
      //       confirmButtonText: "确定",
      //       cancelButtonText: "取消",
      //       inputPattern: /^(\d+)(.\d{0,2})?$/,
      //       inputErrorMessage: "必须为数字类型,不能超过2位小数",
      //     }
      //   )
      //   .then(async ({ value }) => {
      //     const res = await request.put(`/energyConsumption/update/${id}`, {
      //       amount_total: value,
      //     });
      //     tabOptions.startUpdate = Date.now(); // 更新列表
      //     proxy.$message({
      //       type: "success",
      //       message: "你当月的金额是: " + value,
      //     });
      //   })
      //   .catch(() => {
      //     proxy.$message({
      //       type: "info",
      //       message: "取消输入",
      //     });
      //   });
    };

    return {
      searchColumns,
      localService,
      options,
      tableColumns,
      tabOptions,
      open,
      form,
      handleVisible,
      rules,
      submitLoading,
      submitForm,
      ruleFormRef
    };
  },
  components: {
    JsonTable,
    CommonExcel,
    CommonAllExcel
  },
};
</script>

<style lang="less" scoped>
.addUserForm-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.el-overlay {
  text-align: left;
}

.approval-button-div {
  display: flex;
  margin-bottom: 15px;
}
</style>
