<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 16:02:20
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2023-04-26 09:48:39
 * @FilePath: \Vue-Onepiece-Admin-master\src\components\VisitTimeModel.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <!-- Form -->
  <el-button class="addUserButton" type="primary" size="mini" @click="handleClick(ruleFormRef)">{{ title }}</el-button>
  <div class="energyModal-addUserForm">
    <el-dialog v-model="handleVisible" title="数据录入" width="30%" center>
      <el-form ref="ruleFormRef" :model="form" :rules="rules">
        <el-form-item label="表号" prop="name">
          <div class="mb-2 flex items-center text-sm">
            <el-select v-model="form.name" class="m-2" :disabled="title === '修改'" filterable placeholder="请选择表号"
              size="large">
              <el-option v-for="item in typeOptions" :key="item.id" :label="item.name" @click="nameChange(item)"
                :value="item.name" />
            </el-select>
          </div>
        </el-form-item>
        <el-form-item label="位置" prop="position">
          <el-input v-model="form.position" disabled autocomplete="off" placeholder="请输入位置" />
        </el-form-item>
        <el-form-item label="统计日期" prop="createdTime">
          <el-date-picker style="width: 300px;" :disabled="title === '修改'" v-model="form.createdTime" type="date"
            placeholder="请输入时间" :default-value="new Date()" />
        </el-form-item>
        <el-form-item label="机表数据" prop="machineData">
          <el-input v-model="form.machineData" autocomplete="off" placeholder="请输入机表数据" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button :loading="submitLoading" type="primary" @click="submitForm(ruleFormRef)">确定</el-button>
          <el-button @click="handleVisible = false">取消</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { reactive, ref, getCurrentInstance, onMounted } from "vue";
import { ElMessage } from 'element-plus';
import request from '@/request';
import emitter from "@/utils/mitt.js";
export default {
  props: ['title', 'energyInfo', 'type'],
  emits: ["onModifyData"],
  setup(props, { emit }) {
    const handleVisible = ref(false);
    const ruleFormRef = ref();
    const energyInfo = props?.energyInfo?.scope?.row || {
      name: "",
      position: "",
      machineData: "",
      createdTime: new Date()
    };

    const form = reactive({
      name: energyInfo.name || "",
      position: energyInfo.position || "",
      machineData: energyInfo.machineData || "",
      createdTime: energyInfo.created_time || new Date()
    });
    const typeOptions = ref([]);
    const submitLoading = ref(false);


    const rules = reactive({
      name: [{ required: true, message: '请选择表号', trigger: 'blur' }],
      createdTime: [{ required: true, message: '请输入时间', trigger: 'blur' }],
      position: [{ required: true, message: '请输入位置', trigger: 'blur' }],
      machineData: [{ required: false, message: '请输入机表数据' }, {
        validator(_, value, callback) {
          let reg = /^([0]|([1-9][0-9]*)|(([0]\.\d{1,}|[1-9][0-9]*\.\d{1,})))$/;

          if (value) {
            if (!reg.test(value)) {
              callback(new Error('只能输入正数'));
            }
            reg = /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
            if (!reg.test(value)) {
              callback(new Error('请保留2位小数'));
            }
            callback();
          }
          callback();
        },
        trigger: "blur"
      }],

    });
    const submitForm = async (formEl) => {
      submitLoading.value = true;

      await formEl.validate(async (valid, fields) => {
        if (valid) {
          form.machineData = Number(form.machineData);
          let res;
          if (props.type === '汽表') {
            res = await request.post('useSteam/create', form);
          } else if (props.type === '电表') {
            res = await request.post('useElectricity/create', form);
          } else {
            res = await request.post('useWater/create', form);
          }
          if (res.status !== 200) {
            ElMessage(res.message);
            submitLoading.value = false;
            return;
          }
          emitter.emit('onModifyData', { data: res.data });
          handleVisible.value = false;
        } else {
          submitLoading.value = false;
          console.log('error submit!', fields);
        }
      });
    };
    const handleClick = async (formEl) => {
      // type 0（水表）
      let res;
      if (props.type === '汽表') {
        res = await request.get('useWater/getDictionaryData', { type: '2' });
      } else if (props.type === '电表') {
        res = await request.get('useWater/getDictionaryData', { type: '1' });
      } else {
        res = await request.get('useWater/getDictionaryData', { type: '0' });
      }
      typeOptions.value = res.data;
      if (res.status !== 200) {
        ElMessage(res.message);
        return;
      }
      submitLoading.value = false;
      handleVisible.value = true;
      formEl?.resetFields && formEl.resetFields();

    };
    const nameChange = (value) => {
      form.position = value.position;
    };
    return {
      handleVisible,
      form,
      rules,
      typeOptions,
      handleClick,
      submitForm,
      ruleFormRef,
      nameChange,
      submitLoading
    };
  }
};

</script>
<style lang="less">
.energyModal-addUserForm {
  .addUserForm-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .el-input--prefix .el-input__inner {
    width: 300px;
  }

  .el-button--text {
    margin-right: 15px;
  }

  .el-select {
    width: 300px;
  }

  .el-input {
    width: 300px;
  }

  .dialog-footer button:first-child {
    margin-right: 10px;
  }

  .addUserButton {
    margin-right: 10px;
  }

  label {
    width: 300px;
  }

  .el-dialog__body {
    .el-form {
      .el-form-item__label {
        width: 80px;
      }
    }
  }

  .el-form-item {



    margin-bottom: 12px;
  }

  .is-error {
    margin-bottom: 22px;
  }
}
</style>
