<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-09-08 17:01:12
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2022-12-03 14:53:22
 * @FilePath: \garden_web\src\views\ExaminationModal.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <el-button v-if="userInfo?.role !=='0'" type="warning" size="mini"
        @click="centerDialogVisible = true, overruledInfo = ''">审批
    </el-button>
    <el-dialog v-model="centerDialogVisible" title="审批" width="30%" center>
        <el-form>
            <el-form-item label="驳回原因（若驳回以下内容必填）">
                <el-input v-model="overruledInfo" type="textarea" />
            </el-form-item>
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button type="danger" @click="examinationClick(false)">驳回</el-button>
                <el-button type="primary" @click="examinationClick(true)">同意</el-button>
            </span>
        </template>
    </el-dialog>
</template>
<script>

import { ref } from 'vue';
import request from '@/request';
import { ElMessage } from 'element-plus';
import _ from 'lodash';
import emitter from "@/utils/mitt.js";

export default {
    props: ['visitInfo'],
    setup(props) {
        const overruledInfo = ref('');
        const centerDialogVisible = ref(false);
        const userInfo = ref(JSON.parse(localStorage.getItem('user') || null));

        const examinationClick = async (isAgreement) => {
            if (isAgreement) {
                const res = await request.put(`/visit/updateStatus/${props?.visitInfo?.scope?.row?.id}/${props?.visitInfo?.scope?.row?.visitId}`, { status: '1' });
                if (res.status !== 200) {
                    ElMessage(res.message);
                    return;
                }
            } else {
                if (_.isEmpty(overruledInfo.value)) {
                    return ElMessage('请填写驳回原因');
                }
                if ((userInfo?.value?.role === '1' && props?.visitInfo?.scope?.row?.createUser_Id === userInfo?.value.id) || (userInfo?.value?.role === '2' && props?.visitInfo?.scope?.row?.createUser_Id === userInfo?.value.id)) {
                    return ElMessage('当前登录人不允许驳回自己创建的访客');
                }
                const res = await request.put(`/visit/updateStatus/${props?.visitInfo?.scope?.row?.id}/${props?.visitInfo?.scope?.row?.visitId}`, { status: '3', rejectDescribe: overruledInfo.value });
                if (res.status !== 200) {
                    ElMessage(res.message);
                    return;
                }
            }
            emitter.emit('onModifyData');
            centerDialogVisible.value = false;
        };
        return { centerDialogVisible, overruledInfo, examinationClick, userInfo };
    }
};
</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>
