<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 17:40:50
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2023-01-03 14:10:07
 * @FilePath: \garden_web\src\views\Login.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div>
    <div class="login"></div>
    <div class="login-form">
      <el-form :model="form" ref="loginForm" label-width="50px" class="demo-ruleForm">
        <div class="text-header">登录</div>
        <el-form-item label="账号" prop="account">
          <el-input type="text" v-model="form.account" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input type="password" v-model="form.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="success" size="mini" @click="submitForm()">登录</el-button>
          <el-button @click="resetForm()" size="mini">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { defineComponent, reactive, ref } from 'vue';
import { ElMessage } from 'element-plus';
import { useRouter } from "vue-router";
import request from '@/request';
export default defineComponent({
  setup() {
    const router = useRouter();
    const loginForm = ref(null);
    const form = reactive({
      account: '',
      password: ''
    });
    const submitForm = async () => {
      localStorage.clear();
      const res = await request.post('users/login', { nickname: form.account, password: form.password });
      if (res.status !== 200) {
        ElMessage('账号或密码错误');
        return;
      } else {
        localStorage.setItem('token', res.data.token);
        localStorage.setItem('user', JSON.stringify(res.data.user));
        return window.location.href = "/";
      }
    };
    const resetForm = () => {
      loginForm.value.resetFields();
    };
    return {
      form,
      submitForm,
      resetForm,
      loginForm
    };
  }
});
</script>

<style scoped lang="less">
.text-header {
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-bottom: 50px;

}

.login {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/park.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1.5px);
}

.login-form {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 200px;
  right: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .el-form-item__content {
    text-align: center;
  }
}
</style>
<style lang="less" >
.login-form {
  .text-header {
    color: white;
    font-weight: bold;
  }

  .el-form-item {
    .el-form-item__label {
      color: white;
      font-weight: bold;
    }
  }
}
</style>
