<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-18 09:43:05
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2022-08-31 09:42:44
 * @FilePath: \garden_web\src\views\ModificationAccountPassword.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <!-- Form -->
    <el-button class="addUserButton" type="primary" size="mini" @click="dialogFormVisible = true">修改密码
    </el-button>
    <div class="addUserForm">
        <el-dialog top="40px" v-model="dialogFormVisible" :title="titleModal">
            <div class="addUserForm-title">修改密码</div>
            <el-form ref="ruleFormRef" :model="form" :rules="rules">
                <el-form-item label="原密码" :label-width="formLabelWidth" prop="oldPassword">
                    <el-input v-model="form.oldPassword" autocomplete="off" placeholder="请输入原密码" />
                </el-form-item>
                <el-form-item label="新密码" :label-width="formLabelWidth" prop="newPassword">
                    <el-input v-model="form.newPassword" autocomplete="off" placeholder="请输入新密码" />
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @click="submitForm(ruleFormRef)">提交</el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script>
import { reactive, ref } from "vue";
import request from '@/request';
import { ElMessage } from 'element-plus';
import { useRouter } from "vue-router";

export default {
    props: ["title", 'titleModal'],
    setup() {
        const router = useRouter();
        const dialogFormVisible = ref(false);
        const formLabelWidth = "140px";
        const ruleFormRef = ref();
        const form = reactive({
            name: "",
            oldPassword: '',
            newPassword: '',

        });
        const rules = reactive({
            oldPassword: [
                { required: true, message: '请输入密码', trigger: 'blur' },
                { min: 6, max: 16, message: '长度为6-16位', trigger: 'blur' },
            ],
            newPassword: [
                { required: true, message: '请输入密码', trigger: 'blur' },
                { min: 6, max: 16, message: '长度为6-16位', trigger: 'blur' },
            ],
        });
        const submitForm = async (formEl) => {
            await formEl.validate(async (valid, fields) => {
                if (valid) {
                    const res = await request.post('users/editPwd', { oldPassword: form.oldPassword, password: form.newPassword });
                    if (res.status !== 200) {
                        ElMessage(res.message);
                        return;
                    } else {
                        localStorage.clear();
                        return router.push('/login');
                    }
                } else {
                    console.log('error submit!', fields);
                }
            });
        };
        return {
            dialogFormVisible,
            formLabelWidth,
            form,
            rules,
            ruleFormRef,
            submitForm
        };
    }
};

</script>
<style lang="less" scoped>
.el-button--text {
    margin-right: 15px;
}

.addUserForm-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.el-input {
    width: 300px;
}

.addUserButton {
    margin-right: 10px;
}
</style>
