<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-09-09 13:59:27
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2023-03-23 15:33:11
 * @FilePath: \garden_web\src\views\QrCodeModal.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->

<template>
  <el-button
    type="success"
    size="mini"
    style="margin-bottom: 2px"
    @click="centerDialogVisible = true"
    >查看二维码
  </el-button>
  <el-dialog
    v-model="centerDialogVisible"
    title="查看二维码"
    width="30%"
    center
  >
    <div id="biao1" style="text-align: center">
      <qrcode-vue
        id="testImg"
        :value="value.toString()"
        :size="size"
        level="H"
      />
      <div class="qr-code-font-div">可截图后发送给访客</div>
    </div>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="download(value.toString())" type="primary"
          >下载二维码</el-button
        >
      </span>
    </template>
  </el-dialog>
</template>
<script>
import { ref, getCurrentInstance, watch } from "vue";
import request from "@/request";
import { ElMessage } from "element-plus";
import _ from "lodash";
import emitter from "@/utils/mitt.js";
import QrcodeVue from "qrcode.vue";
import { useRouter } from "vue-router";

export default {
  props: ["visitInfo"],
  setup(props) {
    let { proxy } = getCurrentInstance();
    const centerDialogVisible = ref(false);
    const router = useRouter();
    const download = (message) => {
      //获取canvas标签
      let canvas = document
        .getElementById("app")
        .getElementsByTagName("canvas");
      //创建a标签
      let a = document.createElement("a");
      //获取二维码的url并赋值为a.href
      a.href = canvas[0].toDataURL("img/png");
      //设置下载文件的名字
      a.download = "二维码";

      //点击事件，相当于下载
      a.click();
      //提示信息
      proxy.$message({
        type: "warn",
        message: "下载中，请稍后...",
      });
    };
    return {
      centerDialogVisible,
      value: decodeURI(props?.visitInfo?.scope?.row?.visitId) + "",
      size: 300,
      download,
    };
  },
  components: { QrcodeVue },
};
</script>
<style scoped>
.dialog-footer button:first-child {
  margin-right: 10px;
}
.qr-code-font-div {
  font-size: 16px;
  color: red;
}
</style>
