<template>
    <div>
        <JsonTable :searchColumns="searchColumns" :tableColumns="tableColumns" :service="localService"
            :options="tabOptions" isFixed="true" @onformchange="handlechange" @rowselectchange="handleRowSelectChange"
            @onApproval="onApproval">
            <template v-slot:under-search-slot>
                <div class="approval-button-div">
                    <AddUserModal title='创建账号' />
                    <el-button type="primary" size="mini" @click="oneButtonApproval(true)">
                        一键打开审批权限</el-button>
                    <el-button type="primary" size="mini" @click="oneButtonApproval(false)">
                        一键关闭审批权限</el-button>
                </div>
            </template>
            <template class="visitModel" v-slot:op="scope">
                <el-button type="danger" size="mini" @click="handleDelete(scope)">删除</el-button>
                <AddUserModal title='编辑' :userInfo="scope" />
                <!-- <el-button type="primary" size="mini" text @click="permissionClick(scope)">设置权限</el-button> -->
            </template>
        </JsonTable>
    </div>
</template>
<script>
import JsonTable from "@/components/JsonTable/index.vue";
import { ElMessage } from 'element-plus';
import { reactive, getCurrentInstance, ref } from "vue";
import {
    searchColumns,
    localService,
    options,
    tableColumns
} from "@/components/JsonTable/userConfig.js";
import AddUserModal from './AddUserModal';
import request from '@/request';
import emitter from "@/utils/mitt.js";

export default {
    setup(props, { emit }) {
        const form = reactive({
            name: "",
        });
        const oneApprovalStatus = ref(false);
        let { proxy } = getCurrentInstance();
        let tabOptions = reactive(options);
        let onModifyData = (val) => {
            tabOptions.startUpdate = Date.now(); // 更新列表
        };
        const oneButtonApproval = (value) => {
            proxy
                .$confirm(
                    `此操作将${value ? "打开" : "关闭"}当前页所有账号的审批状态`,
                    "提示",
                    {
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        type: "warning",
                    }
                )
                .then(() => {
                    request.put(`users/keyApproval/${value}`).then((res) => {
                        if (res.status !== 200) {
                            ElMessage(res.message);
                            return;
                        }
                        tabOptions.startUpdate = Date.now(); // 更新列表
                        oneApprovalStatus.value = value;
                        proxy.$message({
                            type: "success",
                            message: "修改成功",
                        });
                    });

                })
                .catch(() => {
                    proxy.$message({
                        type: "info",
                        message: "已取消审批",
                    });
                });
        };
        // 监听事件，更新数据
        emitter.on('onModifyData', onModifyData);
        function handleDelete({ scope }) {
            proxy
                .$confirm(
                    "此操作将永久删除该账号, 是否继续? 确定删除后更新列表",
                    "提示",
                    {
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        type: "warning",
                    }
                )
                .then(() => {
                    request.delete(`/users/destroy/${scope?.row?.id}`).then((res) => {
                        if (res.status !== 200) {
                            ElMessage(res.message);
                            return;
                        }
                        tabOptions.startUpdate = Date.now(); // 更新列表
                        proxy.$message({
                            type: "success",
                            message: "删除成功!",
                        });
                    });

                })
                .catch(() => {
                    proxy.$message({
                        type: "info",
                        message: "已取消删除",
                    });
                });
        }
        function handleRowSelectChange(val) {
            console.log(val, "selectList");
        }
        const onApproval = async (scope) => {
            const res = await request.put(`/users/updateApproval/${scope?.row?.id}`);
            if (res.status !== 200) {
                ElMessage(res.message);
                return;
            }
        };


        return {
            searchColumns,
            tableColumns,
            handleDelete,
            localService,
            tabOptions,
            handleRowSelectChange,
            form,
            onApproval,
            oneApprovalStatus,
            oneButtonApproval
        };
    },
    components: {
        JsonTable,
        AddUserModal
    },
};
</script>

<style lang="less" scoped>
.addUserForm-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.el-overlay {
    text-align: left;
}

.approval-button-div {
    display: flex;
    margin-bottom: 15px;
}
</style>
