<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 17:40:50
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2022-09-26 14:14:12
 * @FilePath: \garden_web\src\views\Component.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <div class="visitorInformation">
        拜访人员信息
        <JsonTable :searchColumns="[]" :tableColumns="tableColumns" :service="localService" :options="tabOptions" />
        <div class="dialog-footer">
            <span v-show="isVisit && status==='1'">
                <el-button type="primary" text @click="open">已到访</el-button>
            </span>
            <span v-show="!isVisit && status==='4'">
                <el-button type="primary" text @click="hasLeftClick()">已离开</el-button>
            </span>
        </div>
    </div>
</template>
<script>
import JsonTable from "@/components/JsonTable/index.vue";
import { reactive, getCurrentInstance, ref } from "vue";
import {
    searchColumns,
    tableColumns,
    localService,
    options,
} from "@/components/JsonTable/userDetailsConfig.js";
import { ElMessage, ElMessageBox } from 'element-plus';
import request from '@/request';
import { useRouter } from 'vue-router';
import emitter from "@/utils/mitt.js";
const userInfo = JSON.parse(localStorage.getItem('user') || null);

export default {
    setup(props, { emit }) {
        let { proxy } = getCurrentInstance();
        let tabOptions = reactive(options);
        const router = useRouter();
        const status = ref('4');
        const isVisit = ref(true);
        const open = () => {
            ElMessageBox.prompt('备注', '访客确认', {
                confirmButtonText: '确认到访',
                cancelButtonText: '取消',
                inputErrorMessage: '请输入备注',
            })
                .then(({ value }) => {
                    const val = window.location.href.split('/');
                    const visitId = val[val.length - 1];
                    const id = val[val.length - 2];

                    request.put(`/visit/updateStatus/${id}/${visitId}`, { status: '4', remark: value }).then((res) => {
                        if (res.status !== 200) {
                            ElMessage(res.message);
                            return;
                        }
                        tabOptions.startUpdate = Date.now(); // 更新列表
                        if (userInfo.role === '2') {
                            router.replace('/component');
                        } else {
                            router.replace('/');
                        }
                        ElMessage({
                            type: 'success',
                            message: '访客已到访',
                        });
                    });

                });
        };
        function handleRowSelectChange(val) {
            console.log(val, "selectList");
        }
        const getTableData = (tableData) => {
            if (tableData[0].status === '4') {
                isVisit.value = false;
            }
            status.value = tableData[0].status;
        };
        const hasLeftClick = () => {
            const val = window.location.href.split('/');
            const visitId = val[val.length - 1];
            const id = val[val.length - 2];

            request.put(`/visit/updateStatus/${id}/${visitId}`, { status: '5' }).then((res) => {
                if (res.status !== 200) {
                    ElMessage(res.message);
                    return;
                }
                tabOptions.startUpdate = Date.now(); // 更新列表
                if (userInfo.role === '2') {
                    router.replace('/component');
                } else {
                    router.replace('/');
                }
                ElMessage({
                    type: 'success',
                    message: '访客离开',
                });
            });
        };
        emitter.on('tableData', getTableData);
        return {
            searchColumns,
            tableColumns,
            localService,
            tabOptions,
            handleRowSelectChange,
            open,
            isVisit,
            hasLeftClick,
            status
        };
    },
    components: {
        JsonTable,
    },
};
</script>

<style lang="less" scoped>
.visitorInformation {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
}

.dialog-footer {
    text-align: center;
    padding-bottom: 10px;
}
</style>
