<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-09-09 09:23:58
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2023-02-17 17:56:47
 * @FilePath: \garden_web\src\views\ViewingOperationRecords.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <el-popover placement="left" :width="600" trigger="click">
        <template #reference>
            <el-button type="info" size="mini" @click="visitStateShow()">查看操作记录</el-button>
        </template>
        <el-table :data="visitStateList">
            <el-table-column width="150" property="statusName" label="状态" />
            <el-table-column width="150" property="name" label="创建人" />
            <el-table-column width="200" property="created_time" label="创建时间" />
            <el-table-column width="150" property="describe" label="描述" />
        </el-table>
    </el-popover>
</template>

<script>
import request from '@/request';
import { ElMessage } from 'element-plus';
import { ref } from 'vue';
import moment from 'moment';
export default {
    props: ['visitInfo'],
    setup(props) {
        const visitStateList = ref([]);
        const visitStateShow = async () => {
            const res = await request.get('/visitState/index', { visitId: props?.visitInfo?.scope?.row?.visitId });
            if (res.status !== 200) {
                ElMessage(res.message);
                return;
            }
            const data = [];
            res.data.forEach(item => {
                // eslint-disable-next-line @typescript-eslint/camelcase
                data.push({ ...item, name: item.adminUser.name, created_time: moment(item.created_time).format('YYYY-MM-DD HH:mm:ss') });
            });
            visitStateList.value = data;

        };

        return { visitStateList, visitStateShow };
    }
};

</script>
