<template>
  <!-- Form -->
  <el-button type="primary" size="mini" @click="onDialogForm(ruleFormRef)">{{
    title
  }}</el-button>
  <div class="visitTimeModelDiv">
    <el-dialog
      fullscreen="true"
      v-model="dialogFormVisible"
      :title="titleModal"
    >
      <el-form ref="ruleFormRef" :model="form" :rules="rules">
        <el-form-item
          label="访客姓名"
          :label-width="formLabelWidth"
          prop="name"
        >
          <el-input
            v-model="form.name"
            autocomplete="off"
            placeholder="请输入访客姓名"
          />
        </el-form-item>
        <el-form-item
          label="身份证号码"
          :label-width="formLabelWidth"
          prop="idNum"
        >
          <el-input
            v-model="form.idNum"
            autocomplete="off"
            placeholder="请输入身份证号码"
          />
        </el-form-item>
        <el-form-item label="手机号" :label-width="formLabelWidth" prop="phone">
          <el-input
            v-model="form.phone"
            autocomplete="off"
            placeholder="请输入手机号"
          />
        </el-form-item>
        <el-form-item label="是否连续拜访" :label-width="formLabelWidth">
          <el-switch v-model="form.isContinuousVisit" size="large" />
        </el-form-item>
        <el-form-item label="是否运出货物" :label-width="formLabelWidth">
          <el-switch v-model="form.isOutboundFreight" size="large" />
        </el-form-item>
        <el-form-item
          v-if="!form.isContinuousVisit"
          label="拜访日期"
          :label-width="formLabelWidth"
          prop="visitTime"
        >
          <el-date-picker
            :disabled-date="disabledDate"
            v-model="form.visitTime"
            type="datetime"
            placeholder="请选择拜访日期"
            format="YYYY-MM-DD HH:mm:ss"
          />
        </el-form-item>
        <el-form-item
          v-if="form.isContinuousVisit"
          label="拜访日期"
          :label-width="formLabelWidth"
          prop="continuousVisitsTime"
        >
          <el-date-picker
            v-model="form.continuousVisitsTime"
            :disabled-date="disabledDate"
            type="datetimerange"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            format="YYYY-MM-DD HH:mm:ss"
          />
        </el-form-item>
        <!-- <el-form-item
          label="预计到达时间"
          :label-width="formLabelWidth"
          prop="estimatedStrTime"
        >
          <el-date-picker
            :disabled-date="disabledDate"
            v-model="form.estimatedStrTime"
            type="datetime"
            placeholder="请选择预计到达时间"
            format="YYYY-MM-DD HH:mm:ss"
          />
        </el-form-item>
        <el-form-item
          label="预计结束时间"
          :label-width="formLabelWidth"
          prop="estimatedEndTime"
        >
          <el-date-picker
            :disabled-date="disabledDate"
            v-model="form.estimatedEndTime"
            type="datetime"
            placeholder="请选择预计到达时间"
            format="YYYY-MM-DD HH:mm:ss"
          />
        </el-form-item> -->
        <el-form-item
          label="接访地点"
          :label-width="formLabelWidth"
          prop="address"
        >
          <el-input
            v-model="form.address"
            autocomplete="off"
            placeholder="请输入（如：101会议室、研发部办公室等）"
          />
        </el-form-item>
        <el-form-item
          label="来访单位"
          :label-width="formLabelWidth"
          prop="visitUnit"
        >
          <el-input
            v-model="form.visitUnit"
            autocomplete="off"
            placeholder="请输入来访单位"
          />
        </el-form-item>
        <el-form-item
          label="车牌号码"
          :label-width="formLabelWidth"
          prop="licensePlateNum"
        >
          <el-input
            v-model="form.licensePlateNum"
            autocomplete="off"
            placeholder="请输入车牌号码，如带车拜访必填"
          />
        </el-form-item>
        <div v-show="userInfo?.isApproval && userInfo.role !== '2'">
          <el-form-item
            label="审核人"
            :label-width="formLabelWidth"
            prop="auditUser"
          >
            <el-select
              v-model="form.auditUser"
              class="m-2"
              filterable
              placeholder="请选择审核人"
              size="large"
            >
              <el-option
                v-for="item in auditUserOptions"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item
            label="健康码"
            :label-width="formLabelWidth"
            prop="healthCode"
          >
            <el-upload
              v-model:file-list="form.healthCode"
              limit="1"
              action="/api/users/uploadAvatar"
              list-type="picture-card"
              :on-preview="onHealthCode"
              :on-success="healthCodeSuccess"
              :headers="{ authorization: token }"
              :on-remove="handleRemove"
              :before-upload="beforeAvatarUpload"
            >
              <el-icon>
                <Plus />
              </el-icon>
            </el-upload>
            <el-dialog v-model="healthVisible">
              <img
                style="width: 100%"
                w-full
                :src="dialogHealthCodeUrl"
                alt="Preview Image"
              />
            </el-dialog>
          </el-form-item>
          <el-form-item
            label="行程码"
            :label-width="formLabelWidth"
            prop="tourCode"
          >
            <el-upload
              :file-list="form.tourCode"
              :on-success="tourCodeSuccess"
              action="/api/users/uploadAvatar"
              list-type="picture-card"
              limit="1"
              :on-preview="handlePictureCardPreview"
              :headers="{ authorization: token }"
              :on-remove="handleRemove"
              :before-upload="beforeAvatarUpload"
            >
              <el-icon>
                <Plus />
              </el-icon>
            </el-upload>
            <el-dialog v-model="dialogVisible">
              <img w-full :src="dialogImageUrl" alt="Preview Image" />
            </el-dialog>
          </el-form-item>
        </div>
        <el-form-item
          label="拜访事由"
          :label-width="formLabelWidth"
          prop="describe"
        >
          <el-input
            size="large"
            v-model="form.describe"
            maxlength="200"
            rows="5"
            placeholder="请描述一下"
            show-word-limit
            type="textarea"
          />
        </el-form-item>
        <el-form-item
          class="box-card-el-form"
          label="同行人员"
          :label-width="formLabelWidth"
        >
          <el-card v-for="item in visitList" :key="item.id" class="box-card">
            <template #header>
              <div class="card-header">
                <span class="card-header-name">{{ item.name }}</span>
                <AddVisitModal :visitInfo="item" title="修改" />
                <el-button type="danger" @click="handleDelete(item.id)"
                  >删除</el-button
                >
              </div>
            </template>
            <div>身份证号码：{{ item.idNum }}</div>
            <div>车牌号码：{{ item.licensePlateNum }}</div>
          </el-card>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <div>
            <AddVisitModal @getVisitData="getVisitData" :visitId="visitId" />
          </div>
          <el-button @click="dialogFormVisible = false">取消</el-button>
          <el-button type="primary" @click="submitForm(ruleFormRef)"
            >提交</el-button
          >
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { reactive, ref, getCurrentInstance, watch } from "vue";
import { Plus } from "@element-plus/icons-vue";
import AddVisitModal from "@/views/AddVisitModal.vue";
import { ElMessage } from "element-plus";
import { options } from "@/components/JsonTable/config.js";
import request from "@/request";
import _ from "lodash";
import emitter from "@/utils/mitt.js";
import moment from "moment";
import { useStore } from "vuex";
export default {
  props: ["title", "titleModal", "visitInfo"],
  setup(props) {
    const dialogTableVisible = ref(false);
    const dialogFormVisible = ref(false);
    const token = ref(localStorage.getItem("token"));
    const userInfo = ref(JSON.parse(localStorage.getItem("user") || null));
    const dialogHealthCodeUrl = ref("");
    const dialogImageUrl = ref("");
    const formLabelWidth = "140px";
    const ruleFormRef = ref();
    const visitInfo = props?.visitInfo?.scope?.row;
    const visitId = visitInfo?.visitId;
    const submitLoading = ref(false);
    const visitList = ref([]);
    const store = useStore();
    const formValue = {
      name: visitInfo?.name || "",
      idNum: visitInfo?.idNum || "",
      phone: visitInfo?.phone || "",
      tourCode: !_.isEmpty(visitInfo?.tourCode)
        ? [{ url: visitInfo?.tourCode }]
        : [],
      visitTime: visitInfo?.isContinuousVisit
        ? ""
        : visitInfo?.visitEndTime || "",
      address: visitInfo?.address || "",
      licensePlateNum: visitInfo?.licensePlateNum || "",
      auditUser: visitInfo?.approver_Id || "",
      describe: visitInfo?.describe || "",
      isContinuousVisit: visitInfo?.isContinuousVisit || false,
      isOutboundFreight: visitInfo?.isOutboundFreight || false,
      continuousVisitsTime: visitInfo?.isContinuousVisit
        ? [visitInfo?.visitStrTime || "", visitInfo?.visitEndTime || ""]
        : "",
      estimatedStrTime: visitInfo?.estimatedStrTime || null,
      estimatedEndTime: visitInfo?.estimatedEndTime || null,
      visitUnit: visitInfo?.visitUnit || "",
      healthCode: !_.isEmpty(visitInfo?.healthCode)
        ? [{ url: visitInfo?.healthCode }]
        : [],
    };
    const getVisitData = (visitData) => {
      visitList.value = visitData;
    };
    const form = reactive(formValue);

    let { proxy } = getCurrentInstance();
    let tabOptions = reactive(options);
    const auditUserOptions = ref([]);
    const disabledDate = (time) => {
      return time.getTime() < new Date() - 24 * 60 * 60 * 1000;
    };
    const getVisitList = async () => {
      if (!_.isEmpty(visitId)) {
        const visitRes = await request.get("sonVisit/visit_index", { visitId });
        store.dispatch("initialVisitData", visitRes.data.rows);
        visitList.value = store.state.visitInfo.visitList;

        emitter.emit("onModifyData");
      }
    };

    const onDialogForm = async (formEl) => {
      const res = await request.get("users/approverIndex", {});
      if (res.status !== 200) {
        ElMessage(res.message);
        return;
      }
      if (props.titleModal !== "新增访客信息") {
        getVisitList();
      } else {
        visitList.value = [];
        store.dispatch("cavitationVisitData");
        formEl?.resetFields && formEl.resetFields();
      }
      auditUserOptions.value = res.data;
      dialogFormVisible.value = true;
    };
    emitter.on("getVisitList", getVisitList);
    const dialogVisible = ref(false);
    const healthVisible = ref(false);

    const handleRemove = (uploadFile, uploadFiles) => {
      console.log(uploadFile, uploadFiles);
    };
    const rules = reactive({
      name: [{ required: true, message: "请输入访客姓名", trigger: "blur" }],
      idNum: [
        {
          validator(_, value, callback) {
            const reg =
              /(^\d{8}(0\d|10|11|12)([0-2]\d|30|31)\d{3}$)|(^\d{6}(18|19|20)\d{2}(0\d|10|11|12)([0-2]\d|30|31)\d{3}(\d|X|x)$)/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (value) {
              if (!reg.test(value)) {
                callback(new Error("请输入正确的身份证号码"));
              } else {
                callback();
              }
              callback();
            }
            callback();
          },
          trigger: "blur",
        },
      ],
      phone: [
        { required: false, message: "请输入手机号", trigger: "blur" },
        {
          validator(_, value, callback) {
            const reg =
              /^1(3[0-9]|4[01456879]|5[0-35-9]|6[2567]|7[0-8]|8[0-9]|9[0-35-9])\d{8}$/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (value) {
              if (!reg.test(value)) {
                callback(new Error("请输入正确的手机号"));
              } else {
                callback();
              }
            }
            callback();
          },
          trigger: "blur",
        },
      ],
      licensePlateNum: [
        {
          validator(_, value, callback) {
            const reg =
              /^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼]{1}[A-HJ-NP-Z]{1}(([A-HJ-NP-Z0-9]{5})|([0-9]{6}|[A-HJ-NP-Z]{1}[0-9]{5}|[0-9]{5}[A-HJ-NP-Z]{1}|[A-HJ-NP-Z]{2}[0-9]{4}))$/;
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (value) {
              if (!reg.test(value)) {
                callback(new Error("请输入正确的车牌号"));
              } else {
                callback();
              }
              callback();
            }
            callback();
          },
          trigger: "blur",
        },
      ],
      visitTime: [
        {
          required: !form.isContinuousVisit,
          message: "请输入拜访日期",
          trigger: "blur",
        }
      ],
      estimatedStrTime: [
        {
          validator(_, value, callback) {
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (value) {
              if (value < new Date()) {
                callback(new Error("预计到达时间不能小于当前时间"));
              } else {
                callback();
              }
              callback();
            }
            callback();
          },
          trigger: "blur",
        },
      ],
      estimatedEndTime: [
        {
          validator(_, value, callback) {
            // rule：采用的规则
            // value: 被校验的值
            // callback是回调函数，
            //      如果通过了规则检验，就直接调用callback()
            //      如果没有通过规则检验，就调用callback(错误对象，在错误对象中说明原因)
            //         例如：callback(new Error('错误说明'))
            if (value) {
              if (value < new Date()) {
                callback(new Error("预计结束时间不能小于当前时间"));
              } else {
                callback();
              }
              callback();
            }
            callback();
          },
          trigger: "blur",
        },
      ],
      address: [{ required: true, message: "请输入接访地点", trigger: "blur" }],
      describe: [
        { required: true, message: "请输入拜访事由", trigger: "blur" },
      ],
      visitUnit: [
        { required: true, message: "请输入来访单位", trigger: "blur" },
      ],
      auditUser: [
        {
          required: userInfo?.value?.isApproval && userInfo.value.role !== "2",
          message: "请选择审批人",
          trigger: "blur",
        },
      ],
    });
    const healthCodeSuccess = (response, uploadFile) => {
      form.healthCode[0] = { url: uploadFile.response.data.message };
    };
    const tourCodeSuccess = (response, uploadFile) => {
      form.tourCode[0] = { url: uploadFile.response.data.message };
    };
    // 删除同行访客
    function handleDelete(val) {
      proxy
        .$confirm(
          "此操作将永久删除该访客, 是否继续? 确定删除后更新列表",
          "提示",
          {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }
        )
        .then(async () => {
          store.dispatch("removeVisitData", val);
          visitList.value = store.state.visitInfo.visitList;
          proxy.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          proxy.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    }
    const handlePictureCardPreview = (uploadFile) => {
      dialogVisible.value = true;
      dialogImageUrl.value = uploadFile.url;
    };
    const onHealthCode = (uploadFile) => {
      dialogHealthCodeUrl.value = uploadFile.url;
      healthVisible.value = true;
    };
    const submitForm = async (formEl) => {
      submitLoading.value = true;
      await formEl.validate(async (valid, fields) => {
        if (valid) {
          const formData = { ...form };
          if (!_.isEmpty(form.continuousVisitsTime)) {
            formData.visitStrTime =  moment(form.continuousVisitsTime[0]).format('YYYY-MM-DD') + ' 00:00:00' ;
            formData.visitEndTime = moment(form.continuousVisitsTime[1]).format('YYYY-MM-DD') + ' 23:59:00';
          }
          if (!_.isEmpty(form.healthCode)) {
            formData.healthCode = form.healthCode[0].url;
          } else {
            formData.healthCode = "";
          }
          if (!_.isEmpty(form.visitTime.toString())) {
            formData.visitStrTime =  moment().format('YYYY-MM-DD') + ' 00:00:00';
            formData.visitEndTime = moment(form.visitTime).format('YYYY-MM-DD') + ' 23:59:00';
          }
          if (!_.isEmpty(form.continuousVisitsTime.toString())) {
            formData.estimatedStrTime = form.continuousVisitsTime[0];
            formData.estimatedEndTime = form.continuousVisitsTime[1];
          }
          if (!_.isEmpty(form.tourCode)) {
            formData.tourCode = form.tourCode[0].url;
          } else {
            formData.tourCode = "";
          }
          if (!_.isEmpty(form.auditUser)) {
            // eslint-disable-next-line @typescript-eslint/camelcase
            formData.approver_Id = form.auditUser;
          }
          formData.visitList = store.state.visitInfo.visitList;
          if (props.titleModal === "新增访客信息") {
            const res = await request.post("visit/create", formData);
            if (res.status !== 200) {
              ElMessage(res.message);
              submitLoading.value = false;
              return;
            }
            emitter.emit("onModifyData", { name: "add", data: res.data });
            submitLoading.value = false;
          } else {
            const res = await request.put(
              `visit/update/${visitInfo?.visitId}`,
              formData
            );
            if (res.status !== 200) {
              ElMessage(res.message);
              submitLoading.value = false;
              return;
            }
            emitter.emit("onModifyData", { name: "modify", data: res.data });
          }
          submitLoading.value = false;

          dialogFormVisible.value = false;
        } else {
          submitLoading.value = false;
        }
      });
    };

    watch(
      () => form.isContinuousVisit,
      () => {
        if (form.isContinuousVisit) {
          rules.visitTime = {
            required: false,
            message: "请输入拜访日期",
            trigger: "blur",
          };
          rules.continuousVisitsTime = [
            {
              required: true,
              message: "请输入拜访日期",
              trigger: "blur",
            }
          ];
        } else {
          rules.visitTime = {
            required: true,
            message: "请输入拜访日期",
            trigger: "blur",
          };
          rules.continuousVisitsTime = {
            required: false,
            message: "请输入拜访日期",
            trigger: "blur",
          };
        }
      }
    );
    const beforeAvatarUpload = (rawFile) => {
      if (rawFile.type === "image/jpeg" || rawFile.type === "image/png") {
        return true;
      }
      ElMessage.error("图片必须是JPG/PNG格式！");
      return false;
    };

    return {
      dialogTableVisible,
      dialogFormVisible,
      formLabelWidth,
      form,
      rules,
      auditUserOptions,
      ruleFormRef,
      handleRemove,
      handlePictureCardPreview,
      onHealthCode,
      submitForm,
      handleDelete,
      token,
      dialogHealthCodeUrl,
      healthVisible,
      userInfo,
      onDialogForm,
      healthCodeSuccess,
      tourCodeSuccess,
      disabledDate,
      visitList,
      visitId,
      submitLoading,
      beforeAvatarUpload,
      getVisitData,
    };
  },
  components: {
    AddVisitModal,
    Plus,
  },
};
</script>
<style lang="less" scoped>
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-header-name {
  width: 115px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.box-card {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}

.el-button--text {
  margin-right: 15px;
}

.el-select {
  width: 300px;
}

.el-input {
  width: 300px;
}

.dialog-footer button:first-child {
  margin-right: 10px;
  display: flex;
}

.el-dialog__footer {
  .dialog-footer {
    display: flex;
    justify-content: end;
  }
}
</style>
<style lang="less">
.visitTimeModelDiv {
  .box-card-el-form {
    .el-form-item__content {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
</style>
