<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2023-02-03 17:26:22
 * @LastEditors: guojinxin_hub 1907745233@qq.com
 * @LastEditTime: 2023-07-31 18:28:24
 * @FilePath: \garden_web\src\views\VisitorDrawer.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div class="visitorInfoDiv">
    <div class="visitorTitle">
      <div>姓名</div>
      <div>身份证号码</div>
      <div>手机号码</div>
      <div>访客日期</div>
      <div>来访单位</div>
      <div>审核人</div>
      <div>状态</div>
      <div>接访地点</div>
      <div>车牌号码</div>
      <div>拜访事由</div>
      <div>申请人</div>
      <div>申情部门</div>
      <div>申请人工号</div>
      <div>创建时间</div>
      <div>同行人员</div>
      <div>备注</div>
      <div>是否运出货物</div>
      <div>健康码</div>
    </div>
    <div class="visitorValue">
      <div>{{ visitorInfoData.name }}</div>
      <div>{{ visitorInfoData.idNum || "-" }}</div>
      <div>{{ visitorInfoData.phone || "-" }}</div>
      <div>
        {{
          visitorInfoData.isContinuousVisit
            ? moment(visitorInfoData.visitStrTime).format("YYYY-MM-DD") +
                "~" +
                moment(visitorInfoData.visitEndTime).format("YYYY-MM-DD") ||
              "--"
            : moment(visitorInfoData.visitEndTime).format("YYYY-MM-DD") || "--"
        }}
      </div>
      <div>
        {{ visitorInfoData.visitUnit || "-" }}
      </div>
      <div>
        {{
          visitorInfoData.approverUser ? visitorInfoData.approverUser.name : "-"
        }}
      </div>
      <div>
        {{
          stateList.find((item) => {
            return visitorInfoData.status === item.value;
          }).name
        }}
      </div>
      <div>{{ visitorInfoData.address || "-" }}</div>
      <div>{{ visitorInfoData.licensePlateNum || "-" }}</div>
      <div>{{ visitorInfoData.describe || "-" }}</div>
      <div>{{ visitorInfoData.adminUser.name || "-" }}</div>
      <div>{{ visitorInfoData.adminUser.department || "-" }}</div>
      <div>{{ visitorInfoData.adminUser.jobNum || "-" }}</div>
      <div>
        {{
          moment(visitorInfoData.created_time).format("YYYY-MM-DD HH:mm:ss") ||
          "-"
        }}
      </div>
      <div>
        <span class="fellowPersonnel" @click="dialogTableVisible = true"
          >查看同行人员</span
        >
        <div>{{ visitorInfoData.remark || "-" }}</div>
        <div>
          {{ visitorInfoData.isOutboundFreight ? "是" : "否" }}
          <span class="fellowPersonnel" @click="picturesClick">{{
            visitorInfoData.status === "4" || visitorInfoData.status === "5"
              ? "（ 上传图片 ）"
              : ""
          }}</span>
        </div>
      </div>

      <div v-show="!isEmpty(visitorInfoData.healthCode)" class="visitorImage">
        <el-image
          style="width: 100px; height: 100px"
          :src="visitorInfoData.healthCode"
          :preview-src-list="[visitorInfoData.healthCode]"
        >
        </el-image>
      </div>
    </div>
  </div>
  <el-dialog title="上传货物照片" v-model="picturesVisible">
    <el-upload
      name="file"
      :file-list="fileList"
      limit="10"
      action="/api/users/uploadAvatar"
      list-type="picture-card"
      :on-preview="onHealthCode"
      :on-success="healthCodeSuccess"
      :headers="{ authorization: token }"
      :on-remove="handleRemove"
      :disabled="isControls"
      :before-upload="beforeAvatarUpload"
      :before-remove="beforeRemove"
    >
      <el-icon>
        <Plus />
      </el-icon>
    </el-upload>
    <el-dialog v-model="healthVisible">
      <img
        style="width: 100%"
        w-full
        :src="dialogHealthCodeUrl"
        alt="Preview Image"
      />
    </el-dialog>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="picturesVisible = false">取消</el-button>
        <el-button :disabled="isControls" type="primary" @click="saveClick()">
          保存
        </el-button>
      </span>
    </template>
  </el-dialog>
  <el-dialog title="查看同行人员" v-model="dialogTableVisible">
    <el-table :data="visitorInfoData.children">
      <el-table-column
        property="name"
        label="姓名"
        width="200"
      ></el-table-column>
      <el-table-column
        property="idNum"
        label="身份证号码"
        width="200"
      ></el-table-column>
      <el-table-column
        property="licensePlateNum"
        label="车牌号码"
        width="200"
      ></el-table-column>
      <el-table-column label="健康码">
        <template v-slot="scope">
          <el-image
            v-show="!isEmpty(scope.row.healthCode)"
            style="width: 100px; height: 100px"
            :src="scope.row.healthCode"
            :preview-src-list="[scope.row.healthCode]"
          />
        </template>
      </el-table-column>
    </el-table>
  </el-dialog>
  <div style="text-align: center" v-show="!isControls">
    <span v-show="isShowButton && visitorInfoData.status === '1'">
      <el-button type="primary" text @click="open">已到访</el-button>
    </span>
    <span v-show="isShowButton && visitorInfoData.status === '4'">
      <el-button type="primary" text @click="hasLeftClick()">已离开</el-button>
    </span>
  </div>
</template>
<script>
import { ref, getCurrentInstance, watch, reactive } from "vue";
import moment from "moment";
import { ElMessage, ElMessageBox } from "element-plus";
import { isEmpty } from "lodash";
import request from "@/request";
import { useRouter } from "vue-router";
import { options } from "@/components/JsonTable/config.js";
import { Plus } from "@element-plus/icons-vue";
import _ from "lodash";
const userInfo = JSON.parse(localStorage.getItem("user") || null);
export default {
  props: ["visitorInfo", "fileData", "isOperability"],
  emits: ["onCellClick"],
  setup(props, { emit }) {
    const dialogTableVisible = ref(false);
    const picturesVisible = ref(false);
    const isControls = ref(true);
    const visitorInfoData = ref(props.visitorInfo);
    const isVisit = ref(true);
    const router = useRouter();
    const fileList = ref(props.fileData || []);
    const isShowButton = ref(userInfo.role === "2" || userInfo.role === "3");
    const token = ref(localStorage.getItem("token"));
    const dialogHealthCodeUrl = ref("");
    const healthVisible = ref(false);
    let tabOptions = reactive(options);
    watch(props, () => {
      visitorInfoData.value = props.visitorInfo;
      fileList.value = props.fileData;
      isControls.value = props.isOperability;
    });

    const stateList = [
      {
        name: "待审批",
        value: "0",
      },
      {
        name: "已审批",
        value: "1",
      },
      {
        name: "已接待",
        value: "2",
      },
      {
        name: "待审批",
        value: "3",
      },
      {
        name: "已到访",
        value: "4",
      },
      {
        name: "已离开",
        value: "5",
      },
      {
        name: "删除",
        value: "6",
      },
    ];
    //上传图片按钮
    const picturesClick = () => {
      picturesVisible.value = true;
    };
    const onHealthCode = (uploadFile) => {
      dialogHealthCodeUrl.value = uploadFile.url;
      healthVisible.value = true;
    };
    const healthCodeSuccess = (response, uploadFile, fileData) => {
      fileList.value = fileData;
    };
    const beforeRemove = () => {
      if (visitorInfoData.value.status === "5") {
        ElMessage.error("已离开状态禁止删除！");
        return false;
      }
    };
    const handleRemove = (uploadFile, uploadFiles, fileData) => {
      fileList.value = uploadFiles;
    };
    const saveClick = async () => {
      const data = [];
      fileList.value.forEach((element) => {
        if (element.response) {
          data.push(element.response.data.message);
        } else {
          data.push(element.url);
        }
      });
      const res = await request.put(
        `visit/updateOutboundFreightImage/${visitorInfoData.value.id}`,
        {
          outboundFreightImage: data,
        }
      );
      if (res.status === 200) {
        picturesVisible.value = false;
      }
    };
    const open = () => {
      ElMessageBox.prompt("备注", "访客确认", {
        confirmButtonText: "确认到访",
        cancelButtonText: "取消",
        inputErrorMessage: "请输入备注",
      }).then(({ value }) => {
        const visitId = props.visitorInfo.visitId;
        const id = props.visitorInfo.id;

        request
          .put(`/visit/updateStatus/${id}/${visitId}`, {
            status: "4",
            remark: value,
          })
          .then((res) => {
            if (res.status !== 200) {
              ElMessage(res.message);
              return;
            }
            emit("onCellClick");
            tabOptions.startUpdate = Date.now(); // 更新列表

            ElMessage({
              type: "success",
              message: "访客已到访",
            });
          });
      });
    };
    const hasLeftClick = () => {
      const visitId = props.visitorInfo.visitId;
      if (_.isEmpty(fileList.value) && props.visitorInfo.isOutboundFreight) {
        ElMessage.error("请上传货物照片！");
      }
      const id = props.visitorInfo.id;
      request
        .put(`/visit/updateStatus/${id}/${visitId}`, { status: "5" })
        .then((res) => {
          if (res.status !== 200) {
            ElMessage(res.message);
            return;
          }
          tabOptions.startUpdate = Date.now(); // 更新列表
          emit("onCellClick");
          ElMessage({
            type: "success",
            message: "访客离开",
          });
        });
    };
    const beforeAvatarUpload = (rawFile) => {
      if (rawFile.type === "image/jpeg" || rawFile.type === "image/png") {
        return true;
      }
      ElMessage.error("图片必须是JPG/PNG格式！");
      return false;
    };
    return {
      visitorInfoData,
      isEmpty,
      dialogTableVisible,
      picturesVisible,
      picturesClick,
      token,
      moment,
      stateList,
      open,
      hasLeftClick,
      isShowButton,
      dialogHealthCodeUrl,
      onHealthCode,
      healthVisible,
      fileList,
      healthCodeSuccess,
      beforeAvatarUpload,
      handleRemove,
      saveClick,
      isControls,
      beforeRemove,
    };
  },
  components: {
    Plus,
  },
};
</script>
<style lang="less">
.visitorInfoDiv {
  display: flex;
  margin-left: 48px;
  margin-bottom: 50px;

  .fellowPersonnel {
    cursor: pointer;
    color: blue;
  }

  .visitorTitle {
    font-family: SourceHanSansSC;
    font-size: 14px;
    color: rgb(187, 187, 187);
    text-align: right;
    margin-left: 48px;

    div {
      margin-top: 20px;
    }
  }

  .dialog-footer {
    text-align: center;
  }

  .visitorValue {
    font-family: SourceHanSansSC;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    margin-left: 28px;

    div {
      margin-top: 20px;
    }
  }

  .visitorImage {
    div {
      margin: 0px;
    }
  }
}
.el-upload-list__item.is-ready {
  display: none;
}

/deep/.el-upload-list {
  display: none;
}
/deep/.el-upload-list__item.is-ready {
  display: none;
}
</style>
