<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 17:40:50
 * @LastEditors: guojinxin_hub 1907745233@qq.com
 * @LastEditTime: 2023-07-14 13:40:39
 * @FilePath: \garden_web\src\views\Component.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div class="visitor-details">
    <JsonTable
      :searchColumns="searchColumns"
      :tableColumns="tableColumns"
      :service="localService"
      :options="tabOptions"
      @onformchange="handleChange"
      @rowselectchange="handleRowSelectChange"
      @onCellClick="onCellClick"
    >
      <template v-slot:under-search-slot="data">
        <div class="approval-button-div" v-if="userInfo.role !== '3'">
          <CommonExcel name="visitor" :tableColumns="data"/>
        </div>
      </template>
      <template class="visitModel" v-slot:op="scope">
        <div v-show="scope?.scope?.row?.visitId">
            <ViewingOperationRecords :visitInfo="scope" />
        </div>
      </template>
    </JsonTable>
    <el-drawer title="访客详情" v-model="drawer">
      <VisitorDrawer
        :visitorInfo="visitorInfo"
        :fileData="fileList"
        :isOperability="true"
        @onCellClick="onCellClick"
      />
    </el-drawer>

  </div>
</template>
<script>
import JsonTable from "@/components/JsonTable/visitorIndex.vue";
import VisitTimeModel from "./VisitTimeModel.vue";
import ExaminationModal from "@/views/ExaminationModal";
import ViewingOperationRecords from "@/views/ViewingOperationRecords";
import QrCodeModal from "@/views/QrCodeModal";
import VisitorDrawer from "@/views/VisitorDrawer";
import { reactive, getCurrentInstance, ref, watch } from "vue";
import {
  searchColumns,
  tableColumns,
  localService,
  options,
} from "@/components/JsonTable/visitorReportConfig.js";
import emitter from "@/utils/mitt.js";
import request from "@/request";
import { ElMessage } from "element-plus";
import CommonExcel from "@/components/CommonExcel.vue";
import _ from "lodash";
export default {
  setup(props, { emit }) {
    const drawer = ref(false);
    const visitorInfo = ref({});
    const fileList = ref([]);
    let { proxy } = getCurrentInstance();
    let tabOptions = reactive(options);
    const userInfo = ref(JSON.parse(localStorage.getItem("user") || null));
    let onModifyData = (val) => {
      tabOptions.startUpdate = Date.now(); // 更新列表
    };
    // 监听事件，更新数据
    emitter.on("onModifyData", onModifyData);
    function handleChange(params) {
      console.log(params);
    }
    function handleRowSelectChange(val) {
      console.log(val, "selectList");
    }
    const onCellClick = async (scope) => {
      if (scope) {
        visitorInfo.value = scope;
        drawer.value = true;
        const res = await request.get("visit/getOutboundFreightImage", {
          id: scope.id,
        });
        if (res.status !== 200) {
          ElMessage(res.message);
          return;
        }
        let imageList = [];
        if (!_.isEmpty(res.data.outboundFreightImage)) {
          imageList = await res.data.outboundFreightImage.map((item) => {
            return (item = { url: item });
          });
        }
        fileList.value = imageList || [];
      } else {
        drawer.value = false;
      }
    };


    return {
      searchColumns,
      tableColumns,
      handleChange,
      localService,
      tabOptions,
      handleRowSelectChange,
      userInfo,
      onCellClick,
      drawer,
      visitorInfo,
      fileList,
    };
  },
  components: {
    JsonTable,
    ViewingOperationRecords,
    VisitorDrawer,
    CommonExcel
  },
};
</script>

<style lang="less">
.el-overlay {
  text-align: left;
}
.visitor-del {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
.visitorDetails {
  font-family: SourceHanSansSC;
  font-weight: 700;
  font-size: 16px;
  color: rgb(48, 65, 86);
  font-style: normal;
}
.visitor-details {
  .el-drawer__body {
    overflow-y: auto;
  }
}
.approval-button-div {
    display: flex;
    margin-bottom: 15px;
}
</style>
