<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 17:40:50
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2023-03-28 10:12:27
 * @FilePath: \garden_web\src\views\Component.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div>
    <JsonTable
      :searchColumns="searchColumns"
      :tableColumns="tableColumns"
      :service="localService"
      :options="tabOptions"
      isFixed="true"
      @onformchange="handlechange"
      @rowselectchange="handleRowSelectChange"
      @onCellClick="onCellClick"
    >
      <template class="visitModel" v-slot:op="scope">
        <el-button
          v-show="scope.scope.row.status === '1'"
          type="primary"
          size="mini"
          @click="handleClick(scope)"
          >处理</el-button
        >
        <el-button
          v-show="scope.scope.row.status === '2'"
          type="primary"
          size="mini"
          @click="closeClick(scope)"
          >关闭</el-button
        >

        <!-- <el-button type="primary" size="mini" text @click="permissionClick(scope)">设置权限</el-button> -->
      </template>
    </JsonTable>
    <el-drawer title="告警详情" v-model="drawer">
      <AlarmDrawer :alarmInfo="alarmInfo" @onCellClick="onCellClick" />
    </el-drawer>
    <el-dialog v-model="handleVisible" title="处理报警工单" width="30%" center>
      <el-form ref="ruleFormRef" :model="form" :rules="rules">
        <el-form-item label="处理意见" prop="handlingOpinions">
          <el-input
            v-model="form.handlingOpinions"
            autocomplete="off"
            type="textarea"
            placeholder="请输入处理意见"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button type="primary" @click="submitForm(ruleFormRef)"
            >确定</el-button
          >
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import JsonTable from "@/components/JsonTable/index.vue";
import { ElMessage } from "element-plus";
import { reactive, getCurrentInstance, ref } from "vue";
import {
  searchColumns,
  localService,
  options,
  tableColumns,
} from "@/components/JsonTable/workOrderConfig.js";
import AddUserModal from "./AddUserModal";
import request from "@/request";
import emitter from "@/utils/mitt.js";
import AlarmDrawer from "./AlarmDrawer";

export default {
  setup(props, { emit }) {
    const handleVisible = ref(false);
    const workOrderId = ref("");
    const ruleFormRef = ref();
    const alarmInfo = ref({});
    const drawer = ref(false);

    const form = reactive({
      handlingOpinions: "",
      status: "",
    });

    const rules = reactive({
      handlingOpinions: [
        { required: true, message: "请输入处理意见", trigger: "blur" },
      ],
    });
    let { proxy } = getCurrentInstance();
    let tabOptions = reactive(options);
    let onModifyData = (val) => {
      tabOptions.startUpdate = Date.now(); // 更新列表
    };
    // 监听事件，更新数据
    emitter.on("onModifyData", onModifyData);
    function handleClick({ scope }) {
      handleVisible.value = true;
      workOrderId.value = scope.row.id;
      form.handlingOpinions = "";
    }
    const closeClick = async ({ scope }) => {
      const res = await request.put(`/alarm/updateStatus/${scope.row.id}`, {
        status: "3",
      });
      if (res.status !== 200) {
        ElMessage(res.message);
        return;
      }
      handleVisible.value = false;
      tabOptions.startUpdate = Date.now(); // 更新列表
    };
    function handleRowSelectChange(val) {
      console.log(val, "selectList");
    }
    const onCellClick = (scope) => {
      if (scope) {
        alarmInfo.value = scope;
        drawer.value = true;
      } else {
        drawer.value = false;
      }
    };
    const submitForm = async (formEl) => {
      await formEl.validate(async (valid, fields) => {
        if (valid) {
          form.status = "2";
          const res = await request.put(
            `/alarm/updateStatus/${workOrderId.value}`,
            form
          );
          if (res.status !== 200) {
            ElMessage(res.message);
            return;
          }
          handleVisible.value = false;
          tabOptions.startUpdate = Date.now(); // 更新列表
        } else {
          console.log("error submit!", fields);
        }
      });
    };
    return {
      searchColumns,
      tableColumns,
      handleClick,
      localService,
      tabOptions,
      handleRowSelectChange,
      form,
      handleVisible,
      ruleFormRef,
      rules,
      drawer,
      alarmInfo,
      submitForm,
      closeClick,
      onCellClick,
    };
  },
  components: {
    JsonTable,
    AlarmDrawer,
  },
};
</script>

<style lang="less" scoped>
.addUserForm-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.el-overlay {
  text-align: left;
}

.approval-button-div {
  display: flex;
  margin-bottom: 15px;
}
</style>
