<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-09-09 09:23:58
 * @LastEditors: guojinxin_hub 1907745233@qq.com
 * @LastEditTime: 2023-06-15 14:18:12
 * @FilePath: \garden_web\src\views\ViewingOperationRecords.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <el-button
    class="addUserButton"
    type="success"
    size="mini"
    @click="exportReport()"
    >导出全部报表</el-button
  >
</template>

<script>
import { ElMessage } from "element-plus";
import { ref } from "vue";
import XLSX from "xlsx";
import request from "@/request";

export default {
  props: ["searchForm", "name"],
  setup(props) {
    const exportReport = async () => {
      let title = "能耗.xlsx";
      //设置表头
      let aoa;
      if (props.name === "accessControl") {
        aoa = [["序号", "部门", "人员姓名", "设备位置", "创建时间"]];
        //按二维数组顺序加入表格数据
        const departmentData = await request.get(
          "/entranceGuard/getDepartmentList",
          {
            // eslint-disable-next-line @typescript-eslint/camelcase
            page_no: 1,
            // eslint-disable-next-line @typescript-eslint/camelcase
            page_size: 100000,
            ...props.searchForm.searchForm,
          }
        );
        if (departmentData) {
          departmentData.data.rows.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.personnel?.objectinfo?.Name,
              item.personnel?.Name,
              item.DevLocation,
              item.CreateDateTime,
            ]);
          });
          title = "门禁报表.xlsx";
        }
      } else if (props.name === "guardTourReport") {
        aoa = [["序号", "人员姓名", "巡检点", "创建时间"]];
        //按二维数组顺序加入表格数据
        const patrolData = await request.get(
          "/entranceGuard/getPatrolDataList",
          {
            // eslint-disable-next-line @typescript-eslint/camelcase
            page_no: 1,
            // eslint-disable-next-line @typescript-eslint/camelcase
            page_size: 100000,
            ...props.searchForm.searchForm,
          }
        );
        if (patrolData.data) {
          patrolData.data.rows.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.patrolmanName,
              item.checkpointName,
              item.createTime,
            ]);
          });
          title = "巡更报表.xlsx";
        }
      } else if (props.name === "barrierGate") {
        aoa = [["序号", "部门", "人员姓名", "车牌号", "进入时间", "离开时间"]];
        //按二维数组顺序加入表格数据
        const sluiceData = await request.get("/sluice/list", {
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_no: 1,
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_size: 100000,
          ...props.searchForm.searchForm,
        }); // 这里是实际发请求的地方
        if (sluiceData) {
          sluiceData.data.rows.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.mFeeCard?.card_bz,
              item.user_name,
              item.car_cp,
              item.in_time,
              item.out_time,
            ]);
          });
          title = "道闸报表.xlsx";
        }
      } else if (props.name === "attendance") {
        aoa = [["序号", "部门", "人员姓名", "考勤时间"]];
        const attendanceData = await request.get("attendance/list", {
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_no: 1,
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_size: 100000,
          ...props.searchForm.searchForm,
        }); // 这里是实际发请求的地方
        //按二维数组顺序加入表格数据
        if (attendanceData) {
          attendanceData.data.rows.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.employee?.brch?.BrchName,
              item.employee?.EmployeeName,
              item.CardTime,
            ]);
          });
          title = "考勤报表.xlsx";
        }
      } else if (props.name === "water") {
        aoa = [
          [
            "序号",
            "表号",
            "机表数据",
            "本月用汽量",
            "位置",
            "是否自动采集",
            "统计日期",
            "创建时间",
            "修改时间",
          ],
        ];
        const attendanceData = await request.get("/useWater/index", {
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_no: 1,
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_size: 100000,
          ...props.searchForm.searchForm,
        }); // 这里是实际发请求的地方
        //按二维数组顺序加入表格数据
        if (attendanceData) {
          attendanceData.data.rows.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.name,
              item.machineData,
              item.monthlyDosage,
              item.position,
              item.isAutomatic ? "是" : "否",
              item.entry_time,
              item.created_time,
              item.updated_time,
            ]);
          });
          title = "能耗.xlsx";
        }
      } else if (props.name === "electricity") {
        aoa = [
          [
            "序号",
            "表号",
            "机表数据",
            "本月用汽量",
            "位置",
            "是否自动采集",
            "统计日期",
            "创建时间",
            "修改时间",
          ],
        ];
        const attendanceData = await request.get("/useElectricity/index", {
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_no: 1,
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_size: 100000,
          ...props.searchForm.searchForm,
        }); // 这里是实际发请求的地方
        //按二维数组顺序加入表格数据
        if (attendanceData) {
          attendanceData.data.rows.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.name,
              item.machineData,
              item.monthlyDosage,
              item.position,
              item.isAutomatic ? "是" : "否",
              item.entry_time,
              item.created_time,
              item.updated_time,
            ]);
          });
          title = "能耗.xlsx";
        }
      } else if (props.name === "steam") {
        aoa = [
          [
            "序号",
            "表号",
            "机表数据",
            "本月用汽量",
            "位置",
            "是否自动采集",
            "统计日期",
            "创建时间",
            "修改时间",
          ],
        ];
        const attendanceData = await request.get("/useSteam/index", {
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_no: 1,
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_size: 100000,
          ...props.searchForm.searchForm,
        }); // 这里是实际发请求的地方
        //按二维数组顺序加入表格数据
        if (attendanceData) {
          attendanceData.data.rows.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.name,
              item.machineData,
              item.monthlyDosage,
              item.position,
              item.isAutomatic ? "是" : "否",
              item.entry_time,
              item.created_time,
              item.updated_time,
            ]);
          });
          title = "能耗.xlsx";
        }
      } else {
        aoa = [["序号", "总量", "类型", "创建时间", "金额总量"]];
        const typeList = [
          {
            name: "水",
            value: "0",
          },
          {
            name: "电",
            value: "1",
          },
          {
            name: "汽",
            value: "2",
          },
        ];
        const attendanceData = await request.get("/energyConsumption/index", {
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_no: 1,
          // eslint-disable-next-line @typescript-eslint/camelcase
          page_size: 100000,
          ...props.searchForm.searchForm,
        }); // 这里是实际发请求的地方
        //按二维数组顺序加入表格数据
        if (attendanceData) {
          attendanceData.data.rows.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.total,
              typeList.find((itemTwo) => {
                return itemTwo.value === item.type;
              }).name,
              item.created_time,
              item.amount_total,
            ]);
          });
          title = "能耗.xlsx";
        }
      }
      //创建表
      let worksheet = XLSX.utils.aoa_to_sheet(aoa);
      //创建表格文件
      let workbook = XLSX.utils.book_new();
      //插入表到表格第一页
      XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
      XLSX.writeFile(workbook, title); //导出表格
    };
    return { exportReport };
  },
};
</script>
<style scoped>
.addUserButton {
  margin-left: 10px;
}
</style>
