<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-09-09 09:23:58
 * @LastEditors: guojinxin_hub 1907745233@qq.com
 * @LastEditTime: 2023-07-12 17:23:52
 * @FilePath: \garden_web\src\views\ViewingOperationRecords.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <el-button
    class="addUserButton"
    type="success"
    size="mini"
    @click="exportReport()"
    >导出报表</el-button
  >
</template>

<script>
import { ElMessage } from "element-plus";
import { ref } from "vue";
import XLSX from "xlsx";
import moment from "moment";

export default {
  props: ["tableColumns", "name"],
  setup(props) {
    const exportReport = () => {
      let title = "能耗.xlsx";
      //设置表头
      let aoa;
      if (props.name === "monthlyEnergy") {
        const typeList = [
          {
            name: "水",
            value: "0",
          },
          {
            name: "电",
            value: "1",
          },
          {
            name: "汽",
            value: "2",
          },
        ];
        aoa = [["序号", "总量", "类型", "创建时间", "金额总量"]];
        //按二维数组顺序加入表格数据
        if (props.tableColumns.data) {
          props.tableColumns.data.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.total,
              typeList.find((itemTwo) => {
                return itemTwo.value === item.type;
              }).name,
              item.created_time,
              item.amount_total,
            ]);
          });
          title = "能耗.xlsx";
        }
      } else if (props.name === "visitor") {
        aoa = [
          [
            "序号",
            "申请人",
            "拜访日期",
            "接访地点",
            "状态",
            "车牌号码",
            "来访单位",
            "拜访事由",
            "身份证号码",
            "手机号码",
            "申请部门",
            "审核人",
            "申请人工号",
            "创建时间",
            "备注",
          ],
        ];
        //按二维数组顺序加入表格数据
        if (props.tableColumns.data) {
          props.tableColumns.data.forEach((item, index) => {
            const status = item.status;
            let statusName = '--';
            if (status === "0") {
              // 可编辑可删除
              statusName = "待审批";
            } else if (status === "1") {
              // 可撤回 可查看二维码
              statusName = "已审批";
            } else if (status === "2") {
              statusName = "已接待";
            } else if (status === "3") {
              // 驳回，可编辑可删除
              statusName = "待审批（驳回）";
            } else if (status === "4") {
              // 已接待按钮
              statusName = "已到访";
            } else if (status === "5") {
              statusName = "已离开";
            }
            aoa.push([
              index + 1,
              item.adminUser?.name,
              item.isContinuousVisit
                ? moment(item.visitStrTime).format("YYYY-MM-DD") +
                    "~" +
                    moment(item.visitEndTime).format("YYYY-MM-DD") || "--"
                : moment(item.visitEndTime).format("YYYY-MM-DD") || "--",
              item.address,
              statusName,
              item.licensePlateNum,
              item.visitUnit,
              item.describe,
              item.idNum,
              item.phone,
              item.adminUser?.department,
              item.approverUser?.name,
              item.adminUser?.jobNum,
              moment(item.created_time).format('YYYY-MM-DD HH:mm:ss'),
              item.remark,
            ]);
          });
          title = "访客报表.xlsx";
        }
      } else if (props.name === "accessControl") {
        aoa = [["序号", "部门", "人员姓名", "设备位置", "创建时间"]];
        //按二维数组顺序加入表格数据
        if (props.tableColumns.data) {
          props.tableColumns.data.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.personnel?.objectinfo?.Name,
              item.personnel?.Name,
              item.DevLocation,
              item.CreateDateTime,
            ]);
          });
          title = "门禁报表.xlsx";
        }
      } else if (props.name === "guardTourReport") {
        aoa = [["序号", "人员姓名", "巡检点", "创建时间"]];
        //按二维数组顺序加入表格数据
        if (props.tableColumns.data) {
          props.tableColumns.data.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.patrolmanName,
              item.checkpointName,
              item.createTime,
            ]);
          });
          title = "巡更报表.xlsx";
        }
      } else if (props.name === "barrierGate") {
        aoa = [["序号", "部门", "人员姓名", "车牌号", "进入时间", "离开时间"]];
        //按二维数组顺序加入表格数据
        if (props.tableColumns.data) {
          props.tableColumns.data.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.mFeeCard?.card_bz,
              item.user_name,
              item.car_cp,
              item.in_time,
              item.out_time,
            ]);
          });
          title = "道闸报表.xlsx";
        }
      } else if (props.name === "attendance") {
        aoa = [["序号", "部门", "人员姓名", "考勤时间"]];
        //按二维数组顺序加入表格数据
        if (props.tableColumns.data) {
          props.tableColumns.data.forEach((item, index) => {
            aoa.push([
              index + 1,
              item.employee?.brch?.BrchName,
              item.employee?.EmployeeName,
              item.CardTime,
            ]);
          });
          title = "考勤报表.xlsx";
        }
      } else {
        aoa = [
          [
            "序号",
            "表号",
            "机表数据",
            "本月用汽量",
            "位置",
            "是否自动采集",
            "统计日期",
            "创建时间",
            "修改时间",
          ],
        ];
        props.tableColumns.data.forEach((item, index) => {
          aoa.push([
            index + 1,
            item.name,
            item.machineData,
            item.monthlyDosage,
            item.position,
            item.isAutomatic ? "是" : "否",
            item.entry_time,
            item.created_time,
            item.updated_time,
          ]);
        });
        title = "能耗.xlsx";
      }
      //创建表
      let worksheet = XLSX.utils.aoa_to_sheet(aoa);
      //创建表格文件
      let workbook = XLSX.utils.book_new();
      //插入表到表格第一页
      XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
      XLSX.writeFile(workbook, title); //导出表格
    };
    return { exportReport };
  },
};
</script>
<style scoped>
.addUserButton {
  margin-left: 10px;
}
</style>
