<!--
 * @Author: guojinxin 1907745233@qq.com
 * @Date: 2022-08-10 17:40:50
 * @LastEditors: guojinxin 1907745233@qq.com
 * @LastEditTime: 2022-09-26 14:02:43
 * @FilePath: \garden_web\src\App.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
  <div>
    <router-view v-if="$route.path === '/login' || $route.path === '/userDetails/:id/:visitId'"></router-view>
    <layout v-else></layout>
  </div>
</template>
<script>
import layout from '@/layout/index.vue';
export default {
  setup() {
    return {};
  },
  components: {
    layout
  }
};
</script>
<style lang="less">
@import '@/style/variable.less';

body {
  margin: 0;
}

#app {
  min-width: 1280px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  .el-button--primary {
    background: @menuActiveText; // button 主题色保持一致
    border-color: @menuActiveText;
  }
}
</style>
